openapi: 3.0.3
info:
  title: product_id - Native Lending APIs
  description: |
    > **⚠️ Lưu ý bản quyền:** Tài liệu này thuộc bản quyền của **Cake by VPBank**.
    > Mọi hình thức sao chép, chỉnh sửa, hoặc phát tán phải được sự đồng ý bằng văn bản của Cake by VPBank.

    ## Mô tả
    API tích hợp giữa đối tác (Partner) và hệ thống Cake Digital Bank cho các sản phẩm vay.

    ## Changelog

    | Thời gian | Email title | Cập nhật |
    |-----------|-------|-------|
    | 2026-0x-0x | email_title | Khởi tạo tài liệu |

    ## Cơ chế xác thực (Signature)
    Tất cả request từ Partner gọi Cake đều phải ký signature:
    ```
    rawBody = {{body}} + {{partner_key}}
    hash = sha256(rawBody)
    signature = base64_encode(rsa.SignPKCS1v15(rand.Reader, privKey, crypto.SHA256, hash))
    ```
    Partner cần tạo cặp khóa RSA 1024 bit: private key (PKCS#8) và public key (X.509).
    Test chữ ký có thể dùng tool online như [https://emn178.github.io/online-tools/rsa/verify](https://emn178.github.io/online-tools/rsa/verify/?input=%7B%22req_id%22%3A%221%22%2C%22action%22%3A1%7DPartner&input_type=utf-8&algorithm=SHA256&public_key=-----BEGIN%20PUBLIC%20KEY-----%0AMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC0KTbcJmoAT1g%2FFEp7eWWzuATg%0AK%2F7Go01PKZUaVTsN80JiDdg%2FmgDIcE0D9w5fYsDBN2pgeQ7EW8qqB8wb84qqk7QX%0AzAFfAqGx10X5aRe0WPsL3x7SCnG9QDz%2Fsun7hvrELes2sBw1a63lk3ZHyU9xLAcs%0ASsOFirCfQDlq0sbvNQIDAQAB%0A-----END%20PUBLIC%20KEY-----&signature_input_type=base64&signature=LWRijuKu83sa%2BU2FMe%2BsrtP8ctIaPjNAZ68YBiOiZNhzl%2FBELWztAcnTaOxINjghrfepTRLjhjvQw5mfwZrUHue4hwWDRvCpTMvCSfv513vuKp4kIQFK5EAASMZuhjwTn6mBxeO1i55xWB2wHqXVJxXgFecSok6T8qqJyH4XUzc%3D).

    ## Môi trường

    ### SIT+UAT Environment

    | Key | Value | Description |
    |-----|-------|-------------|
    | CAKE_API_URL | `https://gw.stage.cakedigibank.tech/ext/loan/{group}/{product_id}` | |
    | CAKE_PARTNER_ID | *(Cake cấp)* | Gắn ở header khi gọi API Cake |
    | CAKE_PARTNER_KEY | *(Cake cấp)* | Gắn sau body khi ký api partner |
    | CAKE_IP_ADDRESS | `35.197.157.155/32`<br>`34.87.136.147/32`<br>`35.240.241.82/32`<br>`34.142.212.108/32`<br>`35.198.211.12/32`<br>`34.143.164.202/32`<br>`34.124.200.2/32` | Partner thêm các IP này vào Whitelist |
    | PARTNER_API_URL | *(Partner cấp)* | |
    | PARTNER_PUBLIC_KEY | *(Partner cấp)* | Gọi API Cake, Partner ký bằng private key, Cake verify |
    | PARTNER_IP_ADDRESS | *(Partner cấp)*<br>`34.87.136.147 (Cake auto)` | Cake thêm các IP này vào Whitelist |

    ### PROD Environment

    | Key | Value | Description |
    |-----|-------|-------------|
    | CAKE_API_URL | `https://gw.cake.vn/ext/loan/{group}/{product_id}` | |
    | CAKE_PARTNER_ID | *(Cake cấp)* | Gắn ở header khi gọi API Cake |
    | CAKE_PARTNER_KEY | *(Cake cấp)* | Gắn sau body khi ký api partner |
    | CAKE_IP_ADDRESS | `34.87.56.148/32`<br>`35.240.146.157/32`<br>`34.87.175.195/32`<br>`34.142.177.122/32`<br>`34.87.39.41/32`<br>`34.143.164.31/32`<br>`34.143.174.79/32` | Partner thêm các IP này vào Whitelist |
    | PARTNER_API_URL | *(Partner cấp)* | |
    | PARTNER_PUBLIC_KEY | *(Partner cấp)* | Gọi API Cake, Partner ký bằng private key, Cake verify |
    | PARTNER_IP_ADDRESS | *(Partner cấp)* | Cake thêm các IP này vào Whitelist |

    ## Error Codes

    ### General
    | Code | Message |
    |------|---------|
    | `1` | Thành công |
    | `900000` | Có lỗi xảy ra, vui lòng thử lại sau |
    | `900001` | Hệ thống đang bảo trì |
    | `900002` | Request is processing |
    | `200000` | Chữ ký không hợp lệ |
    | `200001` | Mã đối tác không hợp lệ |
    | `200003` | Request ID không hợp lệ (NID hoặc Phone không khớp) |
    | `400001` | Không có thông tin khoản vay |
    | `100100` | COB Time - không thể thực hiện giao dịch (23:50–4:00) |
    | `500013` | Trường dữ liệu không hợp lệ |

    ### Onboarding / Pre-check
    | Code | Message |
    |------|---------|
    | `100008` | Hồ sơ không đủ điều kiện |
    | `100009` | Thông tin GTTT đã tồn tại |
    | `100011` | Không đủ tuổi đăng ký |
    | `500010` | Hồ sơ mới bị từ chối gần đây (cần đợi 7 ngày) |
    | `500015` | Đang có khoản vay Active |
    | `500016` | GTTT không còn đủ hiệu lực |
    | `500017` | Chưa thực hiện xác thực NFC |
    | `500020` | Hồ sơ không trùng khớp với Cake |
    | `500024` | Tài khoản nhận giải ngân không hợp lệ |
    | `500029` | Đang mở khoản vay khác chưa hoàn tất |
    | `500030` | Tài khoản đang tạm khóa |
    | `500031` | Tài khoản giải ngân không hợp lệ |

    ### Contract
    | Code | Message |
    |------|---------|
    | `300001` | Hợp đồng hết hạn (quá 7 ngày) |
    | `300003` | OTP bị chặn 15 phút (sau 3 lần gửi) |
    | `300004` | Hợp đồng bị hủy (vượt 6 lần get-OTP) |
    | `300005` | Nhập sai OTP |
    | `300006` | Hồ sơ bị block 15 phút (sai OTP 3 lần liên tiếp) |
    | `300007` | Hợp đồng bị hủy (sai OTP 6 lần) |

    ### Challenge
    | Code | Message |
    |------|---------|
    | `170000` | OTP quá nhiều lần, block 15 phút |
    | `170006` | OTP quá 6 lần/ngày, block đến 24h |
    | `170002` | OTP đã hết hiệu lực (quá 2 phút) |
    | `170003` | OTP không chính xác |
    | `170004` | Sai OTP quá nhiều, block 5 phút |
    | `170005` | Sai OTP quá 6 lần/ngày, block đến 24h |
    | `500027` | challenge_id không hợp lệ hoặc hết hạn |

    ### Repayment
    | Code | Message |
    |------|---------|
    | `100103` | Số tiền vượt quá dư nợ có thể thanh toán |
    | `400000` | partner_reference_id đã được dùng trước đó |
    | `600000` | Thông tin thanh toán không hợp lệ |

    ### Termination
    | Code | Message |
    |------|---------|
    | `100102` | Có số dư thanh toán trước hạn, không thể tất toán |
    | `100104` | Khoản vay đã quá hạn, cần thanh toán toàn bộ dư nợ |
    | `100002` | Ảnh selfie không đúng (facematch thất bại) |

    ### Installment
    | Code | Message |
    |------|---------|
    | `500027` | challenge_id không hợp lệ hoặc chưa xác thực thành công |
    | `500028` | Giao dịch không đủ điều kiện chuyển đổi trả góp |

  version: "1.0.0"
  contact:
    name: Cake Digital Bank Support
    url: https://cake.vn

servers:
  - url: https://gw.cake.vn/ext/loan/{group}/{product_id}
    description: Production
    variables:
      group:
        description: "Nhóm API (ví dụ: cashloan, paylater)"
        default: cashloan
      product_id:
        description: Mã sản phẩm được cấu hình
        default: product_id
  - url: https://gw.stage.cakedigibank.tech/ext/loan/{group}/{product_id}
    description: SIT+UAT
    variables:
      group:
        default: cashloan
      product_id:
        default: product_id

# ─────────────────────────────────────────────
# COMMON COMPONENTS
# ─────────────────────────────────────────────
components:
  parameters:
    PartnerHeader:
      name: partner
      in: header
      required: true
      description: CAKE_PARTNER_ID được cấu hình trong môi trường
      schema:
        type: string
        example: CAKE_PARTNER_ID

    SignatureHeader:
      name: signature
      in: header
      required: true
      description: |
        Chữ ký RSA-SHA256 của request body.
        rawBody = body + partner_key → sha256 → RSA sign PKCS1v15 → base64
      schema:
        type: string

    ContentTypeHeader:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        default: application/json; charset=utf-8

  schemas:
    # ── Common Response Wrapper ──
    BaseResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Kết quả xử lý yêu cầu (true/false)
          example: true
        code:
          type: integer
          description: Mã trạng thái hệ thống
          example: 1
        message:
          type: string
          description: Thông báo phản hồi từ hệ thống
          example: Thành công
        response_id:
          type: string
          description: Mã định danh duy nhất của mỗi phản hồi
          example: "849KTQG7SQWLWQW5"
        timestamp:
          type: string
          format: date-time
          description: Thời gian phản hồi (ISO 8601)
          example: "2025-11-03T07:00:00+07:00"

    PartnerCallbackResponse:
      type: object
      required:
        - success
        - code
        - message
      properties:
        success:
          type: boolean
          description: Kết quả xử lý yêu cầu (true/false)
          example: true
        code:
          type: integer
          description: "Mã trạng thái (1 = Thành công; khác 1 = lỗi)"
          example: 1
        message:
          type: string
          description: Thông báo phản hồi
          example: "Thành công"

    # ── Challenge ──
    ChallengeGetOtpRequest:
      type: object
      required:
        - challenge_id
        - phone_number
      properties:
        challenge_id:
          type: string
          description: ID dùng cho API xác thực challenge
          example: "a27f5d0e-8b43-4e3f-9bfa-0c6d7c5b2189"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"

    ChallengeGetOtpResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                otp_reference_id:
                  type: string
                  description: Mã tham chiếu OTP do CAKE tạo ra
                  example: "7b9e0d4f-3c4a-4e7c-9b92-92e6d5dcd781"
                next_retry_time:
                  type: string
                  nullable: true
                  format: date-time
                  description: |
                    Thời gian có thể gọi lại get-otp.
                    null nếu không bị block; ISO 8601 nếu đang bị block.
                  example: "2025-11-03T07:00:00+07:00"
                otp_expired_at:
                  type: string
                  nullable: true
                  format: date-time
                  description: Thời gian OTP hết hạn (ISO 8601)
                  example: "2025-11-03T07:02:00+07:00"

    ChallengeVerifyOtpRequest:
      type: object
      required:
        - otp_reference_id
        - challenge_id
        - phone_number
        - otp
      properties:
        otp_reference_id:
          type: string
          description: Mã tham chiếu OTP từ challenge-get-otp
          example: "7b9e0d4f-3c4a-4e7c-9b92-92e6d5dcd781"
        challenge_id:
          type: string
          description: ID dùng cho API xác thực challenge
          example: "a27f5d0e-8b43-4e3f-9bfa-0c6d7c5b2189"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        otp:
          type: string
          description: Mã OTP người dùng nhập vào
          example: "123456"

    ChallengeVerifyOtpResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                remaining_attempts:
                  type: string
                  nullable: true
                  description: Số lần nhập OTP còn lại (tổng 3 lần/otp, 6 lần/ngày)
                  example: "2"
                next_retry_time:
                  type: string
                  nullable: true
                  format: date-time
                  description: Thời gian có thể gọi lại get-otp
                  example: "2025-11-03T07:00:00+07:00"

    ChallengeFacematchRequest:
      type: object
      required:
        - challenge_id
        - phone_number
        - selfie_image
      properties:
        challenge_id:
          type: string
          description: ID dùng cho API xác thực challenge
          example: "a27f5d0e-8b43-4e3f-9bfa-0c6d7c5b2189"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        selfie_image:
          type: string
          format: byte
          description: Ảnh selfie của KH (base64 encoded)

    ChallengeFacematchResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              nullable: true
              description: N/A

    # ── Onboarding ──
    DataConfigResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                city:
                  type: array
                  description: Danh sách tỉnh/thành phố
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: ID tỉnh/thành (dùng cho city_id / permanent_city_id)
                      name:
                        type: string
                        description: Tên tỉnh/thành (dùng cho city_name / permanent_city_name)
                      dist:
                        type: array
                        description: Danh sách quận/huyện (value=000 nếu mô hình 2 cấp)
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: 'ID quận/huyện. Mô hình 2 cấp: dùng "000"'
                            name:
                              type: string
                              description: 'Tên quận/huyện. Mô hình 2 cấp: gửi literal "Không"'
                            ward:
                              type: array
                              description: Danh sách phường/xã
                              items:
                                type: object
                gender:
                  type: array
                  description: "List of genders: 1=Male, 2=Female"
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Mã giới tính (dùng cho gender ở client-create)
                      name:
                        type: string
                        description: Tên hiển thị
                marital:
                  type: array
                  description: "1=Độc thân, 2=Đã kết hôn, 3=Khác"
                  items:
                    type: object
                occupation:
                  type: array
                  description: "1=Nhân viên văn phòng, 2=Lao động phổ thông, 3=Tự kinh doanh,
                    4=Sinh viên, 5=Không đi làm, 6=Khác"
                  items:
                    type: object
                job_title:
                  type: array
                  description: "1=Công nhân, 2=Nhân viên/Chuyên viên, 3=Quản lý, 4=Tự kinh doanh"
                  items:
                    type: object
                contact_relationship:
                  type: array
                  description: "1=Vợ, 2=Chồng, 3=Cha, 4=Mẹ, 5=Anh/Em trai, 6=Chị/Em gái, 7=Ông,
                    8=Bà, 9=Đồng nghiệp, 10=Bạn bè, 11=Con"
                  items:
                    type: object
                loan_purpose:
                  type: array
                  description: "1=Mua sắm đồ dùng, 2=Chi phí y tế, 3=Du lịch, 6=Tiêu dùng hợp pháp
                    khác, 7=Đóng học phí"
                  items:
                    type: object

    CheckProfileRequest:
      type: object
      required:
        - phone_number
        - partner_reference_id
        - full_name
        - document_id
        - date_of_birth
      properties:
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        partner_reference_id:
          type: string
          description: ID đối tác để định danh request
        full_name:
          type: string
          description: Họ và tên KH (không cần dấu)
          example: "TRAN MINH TIEN"
        document_id:
          type: string
          description: Số GTTT của KH
          example: "xxxxxxxxxxxx"
        date_of_birth:
          type: string
          format: date
          description: Ngày sinh (yyyy-mm-dd)
          example: "1999-12-02"
        metadata:
          type: object
          nullable: true
          description: Dữ liệu bổ sung (nếu có)

    CheckProfileResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                reject_code:
                  type: integer
                  nullable: true
                  description: Mã lý do từ chối hồ sơ
                reject_message:
                  type: string
                  nullable: true
                  description: Thông báo chi tiết tương ứng với reject_code
                challenge_level:
                  type: array
                  description: "1=None, 2=Facematch, 3=SMS OTP, 4=DTN Cake OTP. Sản phẩm này luôn
                    là [4]"
                  items:
                    type: integer
                  example: [ 4 ]
                challenge_id:
                  type: string
                  description: ID dùng cho API xác thực challenge
                  example: "7b9e0d4f-3c4a-4e7c-9b92-92e6d5dcd781"
                is_exists:
                  type: boolean
                  description: |
                    Hồ sơ KH đã tồn tại tại Cake hay chưa.
                    - `true`: KH đã có hồ sơ → client-update chỉ cần gửi ảnh selfie (face-auth), không cần ảnh CCCD/NFC.
                    - `false`: KH mới → client-update cần gửi đầy đủ ảnh CCCD mặt trước, mặt sau và NFC.
                  example: false

    ClientCreateRequest:
      type: object
      required:
        - phone_number
        - full_name
        - date_of_birth
        - gender
        - document_id
        - doc_issue_date
        - doc_issue_place
        - doc_exp_date
        - marital_id
        - nationality
        - permanent_city_id
        - permanent_dist_id
        - permanent_ward_id
        - permanent_address
        - permanent_city_name
        - permanent_dist_name
        - permanent_ward_name
        - city_id
        - dist_id
        - ward_id
        - city_name
        - dist_name
        - ward_name
        - occupation
        - monthly_income
        - contact_name_1
        - contact_number_1
        - contact_relationship_1
        - contact_name_2
        - contact_number_2
        - contact_relationship_2
        - proposed_amount
        - proposed_term
        - loan_insurance
        - loan_purpose
        - product_code
      properties:
        partner_reference_id:
          type: string
          description: ID đối tác để định danh hồ sơ (tạo mới mỗi request)
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        full_name:
          type: string
          description: Họ tên KH
          example: "Trần Minh Tiến"
        date_of_birth:
          type: string
          format: date
          description: Ngày sinh (yyyy-mm-dd)
          example: "1999-12-02"
        gender:
          type: string
          description: "1=Male, 2=Female"
          example: "2"
        email:
          type: string
          format: email
          nullable: true
          description: Email KH (không bắt buộc)
          example: "abc@gmail.com"
        document_id:
          type: string
          description: Số CCCD/CMND
          example: "xxxxxxxxxxxx"
        doc_issue_date:
          type: string
          format: date
          description: Ngày cấp GTTT
          example: "2021-11-01"
        doc_issue_place:
          type: string
          description: Nơi cấp GTTT
          example: "Cục CSQLHC về TTXH"
        doc_exp_date:
          type: string
          format: date
          description: Ngày hết hạn GTTT
          example: "2035-05-20"
        marital_id:
          type: string
          description: "1=Độc thân, 2=Đã kết hôn, 3=Khác"
          example: "1"
        nationality:
          type: string
          description: Quốc tịch
          default: "Việt Nam"
        permanent_city_id:
          type: string
          description: ID Tỉnh/Thành phố thường trú
          example: "79"
        permanent_dist_id:
          type: string
          description: ID Quận/Huyện thường trú (0 nếu mô hình 2 cấp)
          example: "0"
        permanent_ward_id:
          type: string
          description: ID Phường/Xã thường trú
          example: "001"
        permanent_address:
          type: string
          description: Số nhà, tên đường thường trú
          example: "54 Chu Văn An"
        permanent_city_name:
          type: string
          description: Tên Tỉnh/TP thường trú
          example: "Thành phố Hồ Chí Minh"
        permanent_dist_name:
          type: string
          description: 'Mô hình 2 cấp: gửi literal "Không"'
          example: "Không"
        permanent_ward_name:
          type: string
          description: Tên Phường/Xã thường trú
          example: "Phường Hải Châu"
        city_id:
          type: string
          description: ID Tỉnh/Thành phố hiện tại
          example: "79"
        dist_id:
          type: string
          description: 'ID Quận/Huyện hiện tại. Mô hình 2 cấp: dùng "000"'
          example: "0"
        ward_id:
          type: string
          description: ID Phường/Xã hiện tại
          example: "001"
        address:
          type: string
          nullable: true
          description: Số nhà, tên đường hiện tại
          example: "54 Chu Văn An"
        city_name:
          type: string
          description: Tên Tỉnh/TP hiện tại
          example: "Thành phố Hồ Chí Minh"
        dist_name:
          type: string
          description: 'Mô hình 2 cấp: gửi literal "Không"'
          example: "Không"
        ward_name:
          type: string
          description: Tên Phường/Xã hiện tại
          example: "Phường Hải Châu"
        occupation:
          type: string
          description: "1=Nhân viên VP, 2=Lao động phổ thông, 3=Tự kinh doanh, 4=Sinh
            viên, 5=Không đi làm, 6=Khác"
          example: "1"
        job_title:
          type: string
          nullable: true
          description: Chức vụ (required khi occupation = Nhân viên)
          example: "1"
        company_name:
          type: string
          nullable: true
          description: Tên công ty
          example: "Cake"
        monthly_income:
          type: string
          description: Thu nhập tháng (VNĐ)
          example: "5000000"
        contact_name_1:
          type: string
          description: Họ tên người tham chiếu 1 (Người thân)
          example: "Phan Thi A"
        contact_number_1:
          type: string
          description: SĐT tham chiếu 1 (bắt đầu bằng số 0)
          example: "0345678901"
        contact_relationship_1:
          type: string
          description: Mối quan hệ tham chiếu 1 (theo BRD)
          example: "1"
        contact_name_2:
          type: string
          description: Họ tên người tham chiếu 2 (Bạn bè)
          example: "Phạm Thị B"
        contact_number_2:
          type: string
          description: SĐT người tham chiếu 2 (bắt đầu bằng số 0)
          example: "0345678902"
        contact_relationship_2:
          type: string
          description: Mối quan hệ tham chiếu 2 (theo BRD)
          example: "3"
        proposed_amount:
          type: string
          description: Số tiền đề nghị vay (không bao gồm bảo hiểm, VNĐ)
          example: "3000000"
        proposed_term:
          type: string
          description: Thời gian đề nghị vay (ngày)
          example: "30"
        loan_insurance:
          type: string
          description: Bảo hiểm khoản vay
          enum: [ "True", "False" ]
          example: "True"
        loan_purpose:
          type: string
          description: "1=Mua sắm, 2=Y tế, 3=Du lịch, 6=Tiêu dùng khác, 7=Học phí"
          example: "1"
        product_code:
          type: string
          description: Product code theo BRD
          example: "PTVT_01"
        metadata:
          type: object
          nullable: true
          description: Dữ liệu bổ sung (nếu có)
          properties:
            partner_score:
              type: string
              description: Credit score dạng range, lấy chặn dưới
              example: "350-399"
            partner_telco_score:
              type: string
              description: Telco score dạng range, lấy chặn dưới
              example: "350-399"
            partner_fraud_score:
              type: string
              description: Fraud score dạng range, lấy chặn trên
              example: "350-399"
            partner_onboarding_channel:
              type: string
              description: Kênh KH truy cập, truyền mặc định `APP_DEFAULT`
              default: "APP_DEFAULT"
              example: "APP_DEFAULT"
            partner_business_info:
              type: object
              nullable: true
              description: JSON các dữ liệu kinh doanh tùy nền tảng
            partner_device_info:
              type: object
              nullable: true
              description: JSON dữ liệu device của KH

    ClientCreateResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                request_id:
                  type: string
                  description: ID dùng cho các API client-update, loan-register, get-status
                  example: "req-abc123"

    ClientUpdateRequest:
      type: object
      required:
        - request_id
        - phone_number
        - document_id
        - selfie_image
        - front_nid_image
        - back_nid_image
      properties:
        request_id:
          type: string
          description: Request ID từ API /client-create
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        document_id:
          type: string
          description: Số CCCD/CMND
          example: "xxxxxxxxxxxx"
        selfie_image:
          type: string
          format: byte
          description: Ảnh selfie (base64, size ≤ 1MB, ảnh dọc)
        front_nid_image:
          type: string
          format: byte
          description: Ảnh GTTT mặt trước (base64, size ≤ 1MB, ảnh ngang)
        back_nid_image:
          type: string
          format: byte
          description: Ảnh GTTT mặt sau (base64, size ≤ 1MB, ảnh ngang)
        nfc_data:
          type: object
          nullable: true
          description: Thông tin NFC data raw (nếu truyền, tất cả field bên trong đều required)
          required:
            - sod
            - dg1
            - dg2
            - dg13
            - dg14
            - dg15
            - com
          properties:
            sod:
              type: string
              description: NFC sod value
            dg1:
              type: string
              description: NFC data group 1
            dg2:
              type: string
              description: NFC data group 2
            dg13:
              type: string
              description: NFC data group 13
            dg14:
              type: string
              description: NFC data group 14
            dg15:
              type: string
              description: NFC data group 15
            com:
              type: string
              description: NFC com data

    ClientUpdateResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                status:
                  type: string
                  description: Trạng thái hồ sơ eKYC
                  enum:
                    - EKYC_PENDING
                    - EKYC_REJECT
                    - EKYC_SUCCESS
                  example: EKYC_SUCCESS

    LoanRegisterRequest:
      type: object
      required:
        - request_id
        - phone_number
      properties:
        request_id:
          type: string
          description: Request ID từ API /client-create
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"

    LoanRegisterResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - LOAN_REVIEWING
                    - LOAN_REJECT
                    - LOAN_CANCEL
                    - LOAN_APPROVE
                  description: |
                    - LOAN_REVIEWING: Đang chờ phê duyệt
                    - LOAN_REJECT: Bị từ chối (đăng ký lại sau 7 ngày)
                    - LOAN_CANCEL: Bị hủy (đăng ký lại ngay)
                    - LOAN_APPROVE: Đã phê duyệt
                loan_code:
                  type: string
                  nullable: true
                  description: Mã khoản vay (null nếu REJECTED)
                  example: "u8123123Sjsdb"

    GetStatusRequest:
      type: object
      required:
        - phone_number
      properties:
        request_id:
          type: string
          nullable: true
          description: Request ID từ API /client-create (optional)
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"

    GetStatusResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - EKYC_INIT
                    - EKYC_PENDING
                    - EKYC_REJECT
                    - EKYC_SUCCESS

    GetLoanDetailRequest:
      type: object
      required:
        - loan_code
        - phone_number
      properties:
        loan_code:
          type: string
          description: Mã khoản vay từ API /loan-register
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"

    GetLoanDetailResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              description: Thông tin chi tiết khoản vay
              properties:
                loan_account_status:
                  type: string
                  enum:
                    - LOAN_INIT
                    - LOAN_REVIEWING
                    - LOAN_REJECT
                    - LOAN_APPROVE
                    - LOAN_EXPIRED
                    - LOAN_CANCEL
                    - LOAN_SIGNED
                    - LOAN_ACTIVE
                    - LOAN_LOCK
                    - LOAN_LOCKED
                    - LOAN_CLOSE
                  description: Trạng thái tài khoản vay
                contract_id:
                  type: string
                  description: Mã hợp đồng (dùng cho nhắc nợ, đối soát)
                  example: "1234567890"
                loan_alias:
                  type: string
                  description: Mã thanh toán
                  example: "G4JH5R"
                contract_url:
                  type: string
                  description: URL hợp đồng đã ký song phương (hết hạn trong 1h)
                  example: "https://storage.googleapis.com/..."
                full_name:
                  type: string
                  description: Họ tên KH lưu tại Cake
                  example: "Nguyễn Hoàng Sơn"
                document_id:
                  type: string
                  description: Số GTTT của KH
                  example: "xxxxxxxxxxxx"
                approved_amount:
                  type: string
                  description: Số tiền được phê duyệt (VNĐ)
                  example: "12000000"
                approved_term:
                  type: string
                  description: Thời hạn vay phê duyệt
                  example: "12"
                loan_insurance:
                  type: string
                  description: "[CL/PD] Số tiền bảo hiểm"
                  example: "840000"
                disburse_amount:
                  type: string
                  description: Số tiền đã giải ngân
                  example: "12840000"
                disburse_date:
                  type: string
                  format: date
                  description: Ngày giải ngân (yyyy-mm-dd)
                  example: "2025-06-03"
                interest_rate:
                  type: string
                  description: Lãi suất
                  example: "43"
                principle_balance:
                  type: string
                  description: Dư nợ gốc khả dụng còn lại
                  example: "12640000"
                interest_balance:
                  type: string
                  description: Dư nợ lãi phát sinh
                  example: "197494"
                penalty_principal_balance:
                  type: string
                  description: "[CL/PD] Lãi phạt gốc quá hạn"
                  example: "2494265"
                penalty_interest_balance:
                  type: string
                  description: "[CL/PD] Lãi phạt lãi quá hạn"
                  example: "0"
                payment_period:
                  type: string
                  description: "[CL/PL] Kỳ thanh toán số"
                  example: "12"
                due_date:
                  type: string
                  format: date
                  description: Ngày đến hạn thanh toán gần nhất, đã bao gồm holiday nếu có
                  example: "2025-06-27"
                day_arrears:
                  type: string
                  description: Số ngày quá hạn
                  example: "191"
                predue_payment_amount:
                  type: string
                  description: "[CL] Số tiền KH có thể thanh toán sớm"
                  example: "0"
                due_payment_amount:
                  type: string
                  description: "[CL] Số tiền KH buộc phải thanh toán"
                  example: "15331759"
                period_payment_amount:
                  type: string
                  description: "[PL] Số tiền KH phải thanh toán trong kỳ"
                  example: "15331759"
                total_payment_amount:
                  type: string
                  description: Tổng số tiền KH có thể thanh toán
                  example: "15331759"
                paid_amount:
                  type: string
                  description: "[CL/PD] Số tiền KH đã thanh toán"
                  example: "200000"
                prepayment_amount:
                  type: string
                  description: "[CL/PL] Số tiền KH đã thanh toán trước trong kỳ"
                  example: "0"

    # ── Contract ──
    GetEsignRequest:
      type: object
      required:
        - loan_code
        - phone_number
      properties:
        loan_code:
          type: string
          description: Mã khoản vay từ loan-register hoặc callback partner-update-status
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"

    GetEsignResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                url:
                  type: string
                  description: URL hợp đồng định dạng HTML (hết hạn trong ngày)
                url_pdf:
                  type: string
                  description: URL hợp đồng định dạng PDF (hết hạn trong ngày)
                expired_time:
                  type: string
                  format: date
                  description: Ngày hợp đồng hết hạn (yyyy-mm-dd)

    ContractCancelRequest:
      type: object
      required:
        - loan_code
        - phone_number
      properties:
        loan_code:
          type: string
          description: Mã khoản vay từ loan-register hoặc callback partner-update-status
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"

    GetOtpRequest:
      type: object
      required:
        - loan_code
        - phone_number
      properties:
        loan_code:
          type: string
          description: Mã khoản vay từ loan-register hoặc callback partner-update-status
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"

    GetOtpResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                blocked:
                  type: boolean
                  description: OTP đang bị chặn (cần chờ 15 phút)
                contract_is_rejected:
                  type: boolean
                  description: Hợp đồng bị từ chối (cần thực hiện lại quy trình)
                otp_count:
                  type: string
                  description: Đếm số lần gửi OTP
                otp_period:
                  type: integer
                  description: Khoảng thời gian OTP (nếu < 3, phản hồi là 1)

    VerifyEsignRequest:
      type: object
      required:
        - loan_code
        - phone_number
        - otp
      properties:
        loan_code:
          type: string
          description: Mã khoản vay từ loan-register hoặc callback partner-update-status
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        otp:
          type: string
          description: OTP khách hàng đã nhập

    VerifyEsignResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                is_correct_otp:
                  type: string
                  description: true nếu xác minh OTP thành công
                verify_count:
                  type: string
                  description: Số lần gọi API verify-esign

    DisburseUpdateRequest:
      type: object
      required:
        - loan_code
        - phone_number
        - partner_disburse_status
      properties:
        loan_code:
          type: string
          description: Mã khoản vay
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        partner_disburse_status:
          type: integer
          description: "Trạng thái giải ngân: 1=Thành công, 2=Thất bại"
          enum: [ 1, 2 ]
          example: 1

    # ── Repayment ──
    RepaymentRequestBody:
      type: object
      required:
        - loan_code
        - phone_number
        - partner_reference_id
        - payment_amount
      properties:
        loan_code:
          type: string
          description: Mã khoản vay
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        partner_reference_id:
          type: string
          description: ID tạo mới mỗi request (idempotency key)
        payment_amount:
          type: integer
          description: Số tiền thanh toán (VNĐ)
          example: 5000000

    RepaymentRequestResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                order_id:
                  type: string
                  description: Mã tham chiếu giao dịch do CAKE tạo ra

    RepaymentConfirmRequest:
      type: object
      required:
        - loan_code
        - phone_number
        - partner_reference_id
        - order_id
        - payment_amount
      properties:
        loan_code:
          type: string
          description: Mã khoản vay
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        partner_reference_id:
          type: string
          description: partner_reference_id từ API /repayment-request
        order_id:
          type: string
          description: order_id từ API /repayment-request
        payment_amount:
          type: integer
          description: Số tiền thanh toán (VNĐ)
          example: 5000000

    RepaymentVanResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                order_id:
                  type: string
                  description: Mã tham chiếu giao dịch do Cake tạo ra
                qr_code:
                  type: string
                  description: Chuỗi QR code để thanh toán
                expired_time:
                  type: string
                  format: date-time
                  description: Thời gian hết hạn yêu cầu thanh toán
                bank_name:
                  type: string
                  description: Tên ngân hàng thụ hưởng
                bank_account_number:
                  type: string
                  description: Số tài khoản thụ hưởng
                bank_account_name:
                  type: string
                  description: Tên tài khoản thụ hưởng
                payment_description:
                  type: string
                  description: Thông tin mô tả khi thanh toán

    RepaymentStatusRequest:
      type: object
      required:
        - loan_code
        - phone_number
        - order_id
      properties:
        loan_code:
          type: string
          description: Mã khoản vay từ API /loan-register
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        order_id:
          type: string
          description: order_id từ API /repayment-request

    RepaymentStatusResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - INIT
                    - IN_PROCESS
                    - HOLD
                    - SUCCESS
                    - FAILED
                  description: |
                    - INIT: Chưa nhận tiền từ KH
                    - IN_PROCESS: Đã nhận tiền, đang gạch nợ
                    - HOLD: Nhận tiền nhưng lỗi gạch nợ, cần đối soát thủ công
                    - SUCCESS: Đã gạch nợ thành công
                    - FAILED: Chuyển khoản thất bại hoặc giao dịch hết hạn

    # ── Termination ──
    TerminateReviewResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                is_terminable:
                  type: boolean
                  description: Có thể tất toán hay không
                terminate_amount:
                  type: string
                  description: Số tiền KH cần thanh toán để tất toán

    TerminateRequestBody:
      type: object
      required:
        - loan_code
        - phone_number
        - partner_reference_id
        - payment_amount
      properties:
        loan_code:
          type: string
          description: Mã khoản vay từ API /loan-register
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        partner_reference_id:
          type: string
          description: ID tạo mới mỗi request
        payment_amount:
          type: integer

          description: Số tiền cần tất toán (VNĐ)

    TerminateRequestResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                order_id:
                  type: string
                  description: Mã tham chiếu giao dịch
                challenge_level:
                  type: array
                  items:
                    type: integer
                  description: "1=None, 2=Facematch, 3=SMS OTP"
                  example: [ 3 ]
                challenge_id:
                  type: string
                  description: ID dùng cho API xác thực challenge
                  example: "a27f5d0e-8b43-4e3f-9bfa-0c6d7c5b2189"

    TerminateConfirmRequest:
      type: object
      required:
        - loan_code
        - phone_number
        - partner_reference_id
        - order_id
        - payment_amount
        - challenge_id
      properties:
        loan_code:
          type: string
          description: Mã khoản vay từ API /loan-register
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        partner_reference_id:
          type: string
          description: partner_reference_id từ API /terminate-request
        order_id:
          type: string
          description: order_id từ API /terminate-request
        payment_amount:
          type: integer
          description: Số tiền thanh toán (VNĐ)
        challenge_id:
          type: string
          description: ID xác thực challenge
          example: "a27f5d0e-8b43-4e3f-9bfa-0c6d7c5b2189"

    TerminateVanRequest:
      type: object
      required:
        - loan_code
        - phone_number
        - partner_reference_id
        - payment_amount
      properties:
        loan_code:
          type: string
          description: Mã khoản vay từ API /loan-register
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        partner_reference_id:
          type: string
          description: ID tạo mới mỗi request
        payment_amount:
          type: integer
          description: Số tiền thanh toán (VNĐ)

    # ── Payment ──
    GetInstallmentOffersRequest:
      type: object
      required:
        - loan_code
        - phone_number
        - payment_amount
        - partner_service_code
        - partner_service_name
      properties:
        loan_code:
          type: string
          description: Mã khoản vay từ API /loan-register
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        payment_amount:
          type: integer
          description: Số tiền cần thanh toán
        partner_group_code:
          type: string
          nullable: true
          description: Mã nhóm dịch vụ
        partner_group_name:
          type: string
          nullable: true
          description: Tên nhóm dịch vụ
        partner_service_code:
          type: string
          description: Mã dịch vụ
        partner_service_name:
          type: string
          description: Tên dịch vụ

    GetInstallmentOffersResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                installment_offers:
                  type: array
                  nullable: true
                  items:
                    type: object
                    properties:
                      tenor:
                        type: number
                        description: Kỳ hạn trả góp (tháng)
                        example: 3
                      fee_rate:
                        type: number
                        description: Tỷ lệ phí theo tenor
                        example: 0.1

    PaymentRequestBody:
      type: object
      required:
        - loan_code
        - phone_number
        - partner_reference_id
        - payment_amount
        - partner_service_code
        - partner_service_name
      properties:
        loan_code:
          type: string
          description: Mã khoản vay từ API /loan-register
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        partner_reference_id:
          type: string
          description: ID tạo mới mỗi request
        payment_amount:
          type: integer
          description: Số tiền thanh toán dịch vụ
        partner_group_code:
          type: string
          nullable: true
          description: Mã nhóm dịch vụ
        partner_group_name:
          type: string
          nullable: true
          description: Tên nhóm dịch vụ
        partner_service_code:
          type: string
          description: Mã dịch vụ
        partner_service_name:
          type: string
          description: Tên dịch vụ
        installment_tenor:
          type: integer
          nullable: true
          description: Kỳ hạn trả góp (tháng), lấy từ danh sách gói trả góp. Không truyền / null = thanh toán 1 lần, không trả góp.
          example: 3

    PaymentRequestResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                order_id:
                  type: string
                  description: Mã tham chiếu giao dịch
                payment_fee:
                  type: number
                  description: Phí thanh toán đơn hàng
                challenge_level:
                  type: array
                  items:
                    type: integer
                  description: "1=None, 2=Facematch, 3=SMS OTP"
                  example: [ 3 ]
                challenge_id:
                  type: string
                  description: ID dùng cho API xác thực challenge
                  example: "a27f5d0e-8b43-4e3f-9bfa-0c6d7c5b2189"

    PaymentConfirmRequest:
      type: object
      required:
        - loan_code
        - phone_number
        - partner_reference_id
        - order_id
        - challenge_id
      properties:
        loan_code:
          type: string
          description: Mã khoản vay từ API /loan-register
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        partner_reference_id:
          type: string
          description: partner_reference_id từ API /payment-request
        order_id:
          type: string
          description: order_id từ API /payment-request
        challenge_id:
          type: string
          description: ID dùng cho API xác thực challenge
          example: "a27f5d0e-8b43-4e3f-9bfa-0c6d7c5b2189"

    PaymentStatusRequest:
      type: object
      required:
        - loan_code
        - phone_number
        - partner_reference_id
        - order_id
      properties:
        loan_code:
          type: string
          description: Mã khoản vay, nhận từ API /partner-update-status
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: SĐT của KH (định dạng bắt đầu bằng số 0), dùng để đối chiếu với loan_code
          example: "0xxxxxxxxx"
        partner_reference_id:
          type: string
          description: partner_reference_id đã truyền ở API /generate-webview/payment-request
        order_id:
          type: string
          description: order_id từ response API /generate-webview/payment-request

    PaymentStatusResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              description: Trạng thái giao dịch thanh toán dịch vụ
              properties:
                loan_code:
                  type: string
                  description: Mã khoản vay (null nếu REJECTED)
                payment_status:
                  type: string
                  description: |-
                    Trạng thái giao dịch thanh toán:
                    - `INIT`: Đã tạo yêu cầu, KH chưa xác nhận trong webview
                    - `IN_PROCESS`: KH đã xác nhận, Cake đang xử lý ghi nợ
                    - `HOLD`: Đã ghi nhận giao dịch nhưng lỗi hạch toán, cần đối soát thủ công
                    - `SUCCESS`: Thanh toán thành công
                    - `FAILED`: Thanh toán thất bại, KH hủy hoặc yêu cầu hết hạn
                    - `REVERT`: Giao dịch đã được hoàn tiền qua API /payment-revert
                  enum:
                    - INIT
                    - IN_PROCESS
                    - HOLD
                    - SUCCESS
                    - FAILED
                    - REVERT
                installment_status:
                  type: string
                  enum:
                    - NONE
                    - INIT
                    - SUCCESS
                    - FAILED
                  description: Trạng thái trả góp (nếu có)

    PaymentRevertRequest:
      type: object
      required:
        - loan_code
        - phone_number
        - partner_reference_id
        - order_id
        - payment_amount
        - revert_amount
      properties:
        loan_code:
          type: string
          description: Mã khoản vay, nhận từ API /partner-update-status
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: SĐT của KH (định dạng bắt đầu bằng số 0), dùng để đối chiếu với loan_code
          example: "0xxxxxxxxx"
        partner_reference_id:
          type: string
          description: partner_reference_id đã truyền ở API /generate-webview/payment-request
        order_id:
          type: string
          description: order_id từ response API /generate-webview/payment-request
        payment_amount:
          type: integer
          description: Số tiền đơn hàng gốc
        revert_amount:
          type: integer
          description: Số tiền cần revert (≤ payment_amount)

    # ── Installment ──
    GetInstallmentEligibleRequest:
      type: object
      required:
        - loan_code
        - phone_number
        - limit_unit_page
        - cursor
      properties:
        loan_code:
          type: string
          description: Mã khoản vay từ API /loan-register
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        limit_unit_page:
          type: integer
          description: Giới hạn trên mỗi trang (tối đa 50)
          maximum: 50
          example: 20
        cursor:
          type: string
          description: Cursor từ yêu cầu trước đó (mặc định rỗng)
          default: ""

    GetInstallmentEligibleResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                cursor:
                  type: string
                  description: Con trỏ dùng để lấy dữ liệu trang tiếp theo
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      order_id:
                        type: string
                        description: order_id từ API /payment-request
                      payment_amount:
                        type: string
                        description: Số tiền thanh toán (VNĐ)
                      created_at:
                        type: string
                        description: Timestamp tạo đơn
                      updated_at:
                        type: string
                        description: Timestamp cập nhật đơn
                      partner_service_code:
                        type: string
                        description: Mã dịch vụ
                      partner_service_name:
                        type: string
                        description: Tên dịch vụ
                      partner_group_code:
                        type: string
                        nullable: true
                        description: Mã nhóm dịch vụ
                      partner_group_name:
                        type: string
                        nullable: true
                        description: Tên nhóm dịch vụ
                      partner_branch_id:
                        type: string
                        nullable: true
                      partner_branch_name:
                        type: string
                        nullable: true

    GetInstallmentOfferingListRequest:
      type: object
      required:
        - loan_code
        - phone_number
        - order_id
      properties:
        loan_code:
          type: string
          description: Mã khoản vay từ API /loan-register
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        order_id:
          type: string
          description: order_id từ API /payment-request

    GetInstallmentOfferingListResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      tenor:
                        type: string
                        description: Kỳ hạn (tháng)
                        example: "3"
                      ins_fee_type:
                        type: string
                        enum: [ per_month, total ]
                        description: "per_month: phí theo tháng; total: phí kỳ đầu"
                      total_ins_fee_amount_vat:
                        type: string
                        description: "Tổng phí (bao gồm VAT) = payment_amount * ins_fee_rate_vat *
                          tenor"
                        example: "891000"
                      total_amount:
                        type: string
                        description: "Tổng tiền = payment_amount + total_ins_fee_amount_vat"
                        example: "9891000"

    InstallmentRequestBody:
      type: object
      required:
        - loan_code
        - phone_number
        - partner_reference_id
        - order_id
        - tenor
      properties:
        loan_code:
          type: string
          description: Mã khoản vay từ API /loan-register
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        partner_reference_id:
          type: string
          description: ID tạo mới mỗi request
          example: "7c3c4c3c-6c62-4c5f-9f83-2f8c4e4c9b6e"
        order_id:
          type: string
          description: order_id từ API /payment-request
          example: "f13b2e6b-9f0c-4f72-a3d4-6b1c89f0e2aa"
        tenor:
          type: string
          description: Kỳ hạn (tháng)
          example: "3"

    InstallmentRequestResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                installment_id:
                  type: string
                  description: Mã tham chiếu do CAKE tạo ra
                  example: "3b6c9a18-4c92-4c8a-9e6f-2e4b7e1c9f34"
                challenge_level:
                  type: array
                  items:
                    type: integer
                  description: "Sản phẩm này luôn là [3] (SMS OTP)"
                  example: [ 3 ]
                challenge_id:
                  type: string
                  description: ID dùng cho API xác thực challenge
                  example: "a27f5d0e-8b43-4e3f-9bfa-0c6d7c5b2189"

    InstallmentConfirmRequest:
      type: object
      required:
        - loan_code
        - phone_number
        - partner_reference_id
        - order_id
        - installment_id
        - challenge_id
      properties:
        loan_code:
          type: string
          description: Mã khoản vay từ API /loan-register
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        partner_reference_id:
          type: string
          description: partner_reference_id từ API /installment-request
        order_id:
          type: string
          description: order_id từ API /payment-request
        installment_id:
          type: string
          description: installment_id từ API /installment-request
        challenge_id:
          type: string
          description: ID dùng cho API xác thực challenge
          example: "a27f5d0e-8b43-4e3f-9bfa-0c6d7c5b2189"

    InstallmentDetailResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                transaction:
                  $ref: "#/components/schemas/InstallmentTransactionInfo"
                installment:
                  $ref: "#/components/schemas/InstallmentInfo"

    InstallmentTransactionInfo:
      type: object
      properties:
        order_id:
          type: string
          description: order_id từ API /payment-request
        payment_amount:
          type: string
          description: Số tiền đơn hàng gốc (bao gồm phí + VAT)
          example: "9000000"
        partner_service_code:
          type: string
          description: Mã dịch vụ
        partner_service_name:
          type: string
          description: Tên dịch vụ
        partner_group_code:
          type: string
          nullable: true
          description: Mã nhóm dịch vụ
        partner_group_name:
          type: string
          nullable: true
          description: Tên nhóm dịch vụ
        partner_branch_id:
          type: string
          nullable: true
        partner_branch_name:
          type: string
          nullable: true

    InstallmentInfo:
      type: object
      properties:
        installment_id:
          type: string
          description: installment_id từ API /installment-request
        status:
          type: string
          enum: [ ACTIVE, CLOSE ]
          description: "ACTIVE: đang hoạt động; CLOSE: đã tất toán"
        tenor:
          type: string
          description: Kỳ hạn (tháng)
          example: "3"
        ins_fee_type:
          type: string
          description: 'per_month: phí theo tháng; total: phí kỳ đầu'
          enum: [ per_month, total ]
        total_ins_fee_amount_vat:
          type: string
          description: Tổng phí (bao gồm VAT) = payment_amount * ins_fee_rate_vat * tenor
          example: "891000"
        total_amount:
          type: string
          description: Tổng tiền = payment_amount + total_ins_fee_amount_vat
          example: "9891000"
        start_date:
          type: string
          description: Ngày bắt đầu trả góp
        end_date:
          type: string
          nullable: true
          description: Ngày kết thúc trả góp (chỉ với khoản đã close)
        repayment_schedule:
          type: array
          nullable: true
          description: Lịch trả góp (chỉ với khoản đang active)
          items:
            type: object
            properties:
              installment_no:
                type: string
                description: Số thứ tự kỳ
              due_date:
                type: string
                format: date
                description: Ngày đến hạn thanh toán gần nhất, đã bao gồm holiday nếu có
              principal_amount:
                type: string
                description: Tiền gốc phải trả trong kỳ
              fee_amount:
                type: string
                description: Phí trong kỳ (chưa VAT)
              fee_amount_vat:
                type: string
                description: Phí đã bao gồm VAT
              total_amount:
                type: string
                description: Tổng tiền cần thanh toán trong kỳ (đã VAT)

    # ── Partner-side callback schemas ──
    PartnerUpdateStatusRequest:
      type: object
      required:
        - request_id
        - loan_code
        - phone_number
        - status
      properties:
        request_id:
          type: string
          description: ID được sinh ra mỗi request
        partner_reference_id:
          type: string
          nullable: true
          description: ID đối tác truyền ở API /client-create
        loan_code:
          type: string
          description: Mã khoản vay
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        status:
          type: string
          enum:
            - EKYC_REJECT
            - EKYC_SUCCESS
            - LOAN_APPROVE
            - LOAN_REJECT
            - LOAN_CANCEL
            - LOAN_EXPIRED
            - LOAN_SIGNED
            - LOAN_ACTIVE
            - LOAN_CLOSE
          description: Trạng thái hồ sơ khoản vay Cake

    PartnerDisburseRequest:
      type: object
      required:
        - request_id
        - loan_code
        - phone_number
      properties:
        request_id:
          type: string
          description: request_id được sinh ra ở API client-create
        partner_reference_id:
          type: string
          nullable: true
          description: partner_reference_id của đối tác truyền ở API client-create
        loan_code:
          type: string
          description: Mã khoản vay, chỉ truyền từ khi loan approve
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: SĐT của KH (định dạng bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        approved_amount:
          type: string
          description: Số tiền được phê duyệt
          example: "12000000"

    PartnerRepaymentStatusRequest:
      type: object
      required:
        - request_id
        - loan_code
        - phone_number
        - order_id
        - status
      properties:
        request_id:
          type: string
        loan_code:
          type: string
          description: Mã khoản vay từ API /loan-register
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        order_id:
          type: string
          description: OrderId từ api repayment-van
        status:
          type: string
          enum: [ SUCCESS, FAILED ]

    PartnerPaymentStatusRequest:
      type: object
      required:
        - request_id
        - loan_code
        - phone_number
        - status
      properties:
        request_id:
          type: string
        loan_code:
          type: string
          description: Mã khoản vay từ API /loan-register
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        status:
          type: string
          enum: [ SUCCESS, FAILED, REVERT ]
        status_installment:
          type: string
          nullable: true
          enum: [ SUCCESS, FAILED ]
          description: Trạng thái trả góp (nếu có)

  # ── Reusable request headers ──
  requestBodies:
    CommonHeaders:
      description: Headers bắt buộc cho mọi request
      content:
        application/json:
          schema:
            type: object

# ─────────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────────
paths:
  # ════════════════════
  # CHALLENGE
  # ════════════════════
  /challenge-get-otp:
    post:
      tags: [ Challenge ]
      summary: Gửi lại OTP để xác thực challenge
      description: Gửi mã OTP cho KH để xác thực challenge. Mỗi OTP có hiệu lực 2 phút.
      operationId: challengeGetOtp
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChallengeGetOtpRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChallengeGetOtpResponse"

  /challenge-verify-otp:
    post:
      tags: [ Challenge ]
      summary: Xác thực OTP để hoàn tất challenge
      description: |
        Xác thực mã OTP để hoàn tất challenge.
        **Giới hạn:** 3 lần/OTP, 6 lần/ngày. Sai 3 lần liên tiếp bị block 5 phút.
      operationId: challengeVerifyOtp
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChallengeVerifyOtpRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChallengeVerifyOtpResponse"

  /challenge-facematch:
    post:
      tags: [ Challenge ]
      summary: Xác thực khuôn mặt để hoàn tất challenge
      operationId: challengeFacematch
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChallengeFacematchRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChallengeFacematchResponse"

  # ════════════════════
  # ONBOARDING
  # ════════════════════
  /data-config:
    post:
      tags: [ Onboarding ]
      summary: Lấy danh sách cấu hình cho form onboarding
      description: |
        Cung cấp value list cho form onboarding: tỉnh/thành, quận/huyện, phường/xã,
        giới tính, hôn nhân, nghề nghiệp, chức vụ, mối quan hệ, mục đích vay.
        Không cần request body.
      operationId: dataConfig
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              description: Không cần body
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataConfigResponse"

  /check-profile:
    post:
      tags: [ Onboarding ]
      summary: Pre-check điều kiện trước khi mở khoản vay
      description: |
        Kiểm tra điều kiện hợp lệ trước khi KH đăng ký khoản vay.
        **Điều kiện tiếp tục:** response code = 1 AND reject_code = null → gọi client-create.
      operationId: checkProfile
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckProfileRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckProfileResponse"

  /client-create:
    post:
      tags: [ Onboarding ]
      summary: Tạo hồ sơ KH sau khi precheck thành công
      description: |
        Tạo hồ sơ KH mới.
        **Điều kiện tiếp tục:** response request_id != null → gọi client-update.
      operationId: clientCreate
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClientCreateRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientCreateResponse"

  /client-update:
    post:
      tags: [ Onboarding ]
      summary: Cập nhật hồ sơ KH và upload ảnh eKYC
      description: |
        Upload ảnh selfie, mặt trước/sau GTTT và dữ liệu NFC (nếu có).
        **Điều kiện tiếp tục:** response status = EKYC_SUCCESS → gọi loan-register.
      operationId: clientUpdate
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClientUpdateRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientUpdateResponse"

  /loan-register:
    post:
      tags: [ Onboarding ]
      summary: Đăng ký khoản vay
      description: |
        Đăng ký khoản vay mới dựa trên thông tin KH đã có.
        **Điều kiện tiếp tục:** response status = LOAN_APPROVE → gọi get-esign.
      operationId: loanRegister
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoanRegisterRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoanRegisterResponse"

  /get-status:
    post:
      tags: [ Onboarding ]
      summary: Truy vấn trạng thái hồ sơ eKYC
      operationId: getStatus
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetStatusRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetStatusResponse"

  /get-loan-detail:
    post:
      tags: [ Onboarding ]
      summary: Truy vấn thông tin chi tiết khoản vay
      operationId: getLoanDetail
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetLoanDetailRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLoanDetailResponse"

  # ════════════════════
  # CONTRACT
  # ════════════════════
  /get-esign:
    post:
      tags: [ Contract ]
      summary: Lấy URL ký hợp đồng điện tử
      description: |
        Lấy URL hợp đồng điện tử (HTML và PDF). Link hết hạn trong ngày.
        **Lưu ý:** Phải gọi API này ít nhất một lần mỗi ngày để tạo hợp đồng mới,
        và phải gọi trước khi gọi API /get-otp.
      operationId: getEsign
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetEsignRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetEsignResponse"

  /contract-cancel:
    post:
      tags: [ Contract ]
      summary: Hủy hợp đồng điện tử
      operationId: contractCancel
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContractCancelRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseResponse"

  /get-otp:
    post:
      tags: [ Contract ]
      summary: Gửi OTP xác thực ký hợp đồng
      description: |
        Gửi mã OTP để KH xác thực ký hợp đồng.

        **Quy tắc OTP:**
        - Mỗi OTP hiệu lực 2 phút; gọi lại trong 2 phút không tạo OTP mới
        - Tối đa 6 lần get-OTP/hợp đồng → Sau lần 6 hệ thống hủy hợp đồng
        - 3 lần liên tiếp (chưa verify) → Block 15 phút
      operationId: getOtp
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetOtpRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOtpResponse"

  /verify-esign:
    post:
      tags: [ Contract ]
      summary: Xác nhận ký hợp đồng điện tử bằng OTP
      description: |
        Xác nhận ký hợp đồng điện tử bằng mã OTP.

        **Quy tắc verify:**
        - Tối đa 6 lần sai/hợp đồng → Hủy hợp đồng
        - 3 lần sai liên tiếp → Block 15 phút
        - 3 lần sai với cùng 1 OTP → Phải lấy OTP mới
      operationId: verifyEsign
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyEsignRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyEsignResponse"

  /disburse-update:
    post:
      tags: [ Contract ]
      summary: Đối tác cập nhật trạng thái giải ngân
      description: |
        Đối tác gọi API này để cập nhật kết quả giải ngân (thành công/thất bại).

        **Lưu ý:** Nếu Cake đã gửi partner-disburse-request và đối tác đã giải ngân
        nhưng gọi disburse-update thất bại, Cake sẽ gọi lại partner-disburse-request.
        Khi đó đối tác **KHÔNG giải ngân lại** mà chỉ gọi lại disburse-update.
      operationId: disburseUpdate
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DisburseUpdateRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseResponse"

  # ════════════════════
  # REPAYMENT
  # ════════════════════
  /repayment-request:
    post:
      tags: [ Repayment ]
      summary: Tạo yêu cầu thanh toán khoản vay
      description: |
        Tạo yêu cầu thanh toán. partner_reference_id phải là duy nhất mỗi request.
        Không thể thực hiện trong giờ COB (23:50–4:00).
      operationId: repaymentRequest
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RepaymentRequestBody"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RepaymentRequestResponse"

  /repayment-confirm:
    post:
      tags: [ Repayment ]
      summary: Xác nhận giao dịch thanh toán hoàn tất
      operationId: repaymentConfirm
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RepaymentConfirmRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseResponse"

  /repayment-van:
    post:
      tags: [ Repayment ]
      summary: Tạo QR code thanh toán khoản vay (VAN)
      operationId: repaymentVan
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RepaymentRequestBody"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RepaymentVanResponse"

  /repayment-status:
    post:
      tags: [ Repayment ]
      summary: Truy vấn trạng thái thanh toán
      operationId: repaymentStatus
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RepaymentStatusRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RepaymentStatusResponse"

  # ════════════════════
  # TERMINATION
  # ════════════════════
  /terminate-review:
    post:
      tags: [ Termination ]
      summary: Kiểm tra điều kiện và thông tin tất toán
      operationId: terminateReview
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetEsignRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TerminateReviewResponse"

  /terminate-request:
    post:
      tags: [ Termination ]
      summary: Khởi tạo yêu cầu tất toán hợp đồng
      description: |
        Sau khi gọi terminate-request, xử lý tiếp dựa trên challenge_level:
        - [1] None → Gọi terminate-confirm
        - [2] Facematch → Gọi challenge-facematch
        - [3] SMS OTP → Gọi challenge-get-otp + challenge-verify-otp
      operationId: terminateRequest
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TerminateRequestBody"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TerminateRequestResponse"

  /terminate-confirm:
    post:
      tags: [ Termination ]
      summary: Xác nhận và hoàn tất tất toán hợp đồng
      operationId: terminateConfirm
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TerminateConfirmRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseResponse"

  /terminate-van:
    post:
      tags: [ Termination ]
      summary: Tạo QR code thanh toán tất toán (VAN)
      operationId: terminateVan
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TerminateVanRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RepaymentVanResponse"

  # ════════════════════
  # PAYMENT
  # ════════════════════
  /get-installment-offers:
    post:
      tags: [ Payment ]
      summary: Lấy danh sách gói trả góp cho payment
      operationId: getInstallmentOffers
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetInstallmentOffersRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetInstallmentOffersResponse"

  /payment-request:
    post:
      tags: [ Payment ]
      summary: Tạo yêu cầu thanh toán dịch vụ
      description: |
        Tạo yêu cầu thanh toán dịch vụ (Paylater payment).
        Sau khi gọi, xử lý tiếp dựa trên challenge_level:
        - [1] None → Gọi payment-confirm
        - [2] Facematch → Gọi challenge-facematch
        - [3] SMS OTP → Gọi challenge-get-otp + challenge-verify-otp
      operationId: paymentRequest
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentRequestBody"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentRequestResponse"

  /payment-confirm:
    post:
      tags: [ Payment ]
      summary: Xác nhận giao dịch thanh toán dịch vụ
      operationId: paymentConfirm
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentConfirmRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseResponse"

  /payment-status:
    post:
      tags: [ Payment ]
      summary: Truy vấn trạng thái giao dịch thanh toán dịch vụ
      operationId: paymentStatus
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentStatusRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentStatusResponse"

  /payment-revert:
    post:
      tags: [ Payment ]
      summary: Yêu cầu hoàn tiền giao dịch thanh toán dịch vụ
      operationId: paymentRevert
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentRevertRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseResponse"

  # ════════════════════
  # INSTALLMENT
  # ════════════════════
  /get-installment-eligible:
    post:
      tags: [ Installment ]
      summary: Truy vấn đơn hàng có thể chuyển đổi trả góp
      description: Hỗ trợ phân trang bằng cursor. Tối đa 50 bản ghi/trang.
      operationId: getInstallmentEligible
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetInstallmentEligibleRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetInstallmentEligibleResponse"

  /get-installment-offering-list:
    post:
      tags: [ Installment ]
      summary: Truy vấn danh sách gói trả góp phù hợp với đơn hàng
      operationId: getInstallmentOfferingList
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetInstallmentOfferingListRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetInstallmentOfferingListResponse"

  /installment-request:
    post:
      tags: [ Installment ]
      summary: Tạo yêu cầu chuyển đổi trả góp
      description: |
        Tạo yêu cầu chuyển đổi trả góp. Sau đó phải xác thực challenge (luôn là [3] SMS OTP).
      operationId: installmentRequest
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstallmentRequestBody"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstallmentRequestResponse"

  /installment-confirm:
    post:
      tags: [ Installment ]
      summary: Xác nhận chuyển đổi trả góp hoàn tất
      operationId: installmentConfirm
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstallmentConfirmRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          installment_id:
                            type: string
                            description: installment_id từ API /installment-request

  /get-installment-detail:
    post:
      tags: [ Installment ]
      summary: Truy vấn chi tiết đơn hàng đã chuyển đổi trả góp
      operationId: getInstallmentDetail
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ loan_code, phone_number, installment_id ]
              properties:
                loan_code:
                  type: string
                  description: Mã khoản vay từ API /loan-register
                  example: "u8123123Sjsdb"
                phone_number:
                  type: string
                  description: Số điện thoại KH (bắt đầu bằng số 0)
                  example: "0xxxxxxxxx"
                installment_id:
                  type: string
                  description: installment_id từ API /installment-request
                  example: "3b6c9a18-4c92-4c8a-9e6f-2e4b7e1c9f34"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstallmentDetailResponse"

  /get-installment-transactions:
    post:
      tags: [ Installment ]
      summary: Truy vấn danh sách đơn hàng đã chuyển đổi trả góp
      description: |
        - status=ACTIVE: lấy full giao dịch
        - status=CLOSE: lấy giao dịch có end_date trong 3 tháng gần nhất
        Hỗ trợ phân trang bằng cursor.
      operationId: getInstallmentTransactions
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ loan_code, phone_number, status, limit_unit_page, cursor ]
              properties:
                loan_code:
                  type: string
                  description: Mã khoản vay từ API /loan-register
                  example: "u8123123Sjsdb"
                phone_number:
                  type: string
                  description: Số điện thoại KH (bắt đầu bằng số 0)
                  example: "0xxxxxxxxx"
                status:
                  type: string
                  enum: [ ACTIVE, CLOSE ]
                limit_unit_page:
                  type: integer
                  description: Giới hạn trên mỗi trang (tối đa 50)
                  maximum: 50
                  example: 20
                cursor:
                  type: string
                  description: Con trỏ dùng để lấy dữ liệu trang tiếp theo
                  default: ""
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/BaseResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          cursor:
                            type: string
                            description: Con trỏ dùng để lấy dữ liệu trang tiếp theo
                          total_records:
                            type: string
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                transaction:
                                  $ref: "#/components/schemas/InstallmentTransactionInfo"
[...]
