openapi: 3.0.3
info:
  title: product_id - Native Lending APIs (Payday)
  description: |
    > **⚠️ Lưu ý bản quyền:** Tài liệu này thuộc bản quyền của **Cake by VPBank**.
    > Mọi hình thức sao chép, chỉnh sửa, hoặc phát tán phải được sự đồng ý bằng văn bản của Cake by VPBank.

    ## Mô tả
    API tích hợp giữa đối tác (Partner) và hệ thống Cake Digital Bank cho các sản phẩm vay.

    ## Changelog

    | Thời gian | Email title | Cập nhật |
    |-----------|-------|-------|
    | 2026-0x-0x | email_title | Khởi tạo tài liệu |

    ## Cơ chế xác thực (Signature)
    Tất cả request từ Partner gọi Cake đều phải ký signature:
    ```
    rawBody = {{body}} + {{partner_key}}
    hash = sha256(rawBody)
    signature = base64_encode(rsa.SignPKCS1v15(rand.Reader, privKey, crypto.SHA256, hash))
    ```
    Partner cần tạo cặp khóa RSA 1024 bit: private key (PKCS#8) và public key (X.509).
    Test chữ ký có thể dùng tool online như [https://emn178.github.io/online-tools/rsa/verify](https://emn178.github.io/online-tools/rsa/verify/?input=%7B%22req_id%22%3A%221%22%2C%22action%22%3A1%7DPartner&input_type=utf-8&algorithm=SHA256&public_key=-----BEGIN%20PUBLIC%20KEY-----%0AMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC0KTbcJmoAT1g%2FFEp7eWWzuATg%0AK%2F7Go01PKZUaVTsN80JiDdg%2FmgDIcE0D9w5fYsDBN2pgeQ7EW8qqB8wb84qqk7QX%0AzAFfAqGx10X5aRe0WPsL3x7SCnG9QDz%2Fsun7hvrELes2sBw1a63lk3ZHyU9xLAcs%0ASsOFirCfQDlq0sbvNQIDAQAB%0A-----END%20PUBLIC%20KEY-----&signature_input_type=base64&signature=LWRijuKu83sa%2BU2FMe%2BsrtP8ctIaPjNAZ68YBiOiZNhzl%2FBELWztAcnTaOxINjghrfepTRLjhjvQw5mfwZrUHue4hwWDRvCpTMvCSfv513vuKp4kIQFK5EAASMZuhjwTn6mBxeO1i55xWB2wHqXVJxXgFecSok6T8qqJyH4XUzc%3D).

    ## Môi trường

    ### SIT+UAT Environment

    | Key | Value | Description |
    |-----|-------|-------------|
    | CAKE_API_URL | `https://gw.stage.cakedigibank.tech/ext/loan/{group}/{product_id}` | |
    | CAKE_PARTNER_ID | *(Cake cấp)* | Gắn ở header khi gọi API Cake |
    | CAKE_PARTNER_KEY | *(Cake cấp)* | Gắn sau body khi ký api partner |
    | CAKE_IP_ADDRESS | `35.197.157.155/32`<br>`34.87.136.147/32`<br>`35.240.241.82/32`<br>`34.142.212.108/32`<br>`35.198.211.12/32`<br>`34.143.164.202/32`<br>`34.124.200.2/32` | Partner thêm các IP này vào Whitelist |
    | PARTNER_API_URL | *(Partner cấp)* | |
    | PARTNER_PUBLIC_KEY | *(Partner cấp)* | Gọi API Cake, Partner ký bằng private key, Cake verify |
    | PARTNER_IP_ADDRESS | *(Partner cấp)*<br>`34.87.136.147 (Cake auto)` | Cake thêm các IP này vào Whitelist |

    ### PROD Environment

    | Key | Value | Description |
    |-----|-------|-------------|
    | CAKE_API_URL | `https://gw.cake.vn/ext/loan/{group}/{product_id}` | |
    | CAKE_PARTNER_ID | *(Cake cấp)* | Gắn ở header khi gọi API Cake |
    | CAKE_PARTNER_KEY | *(Cake cấp)* | Gắn sau body khi ký api partner |
    | CAKE_IP_ADDRESS | `34.87.56.148/32`<br>`35.240.146.157/32`<br>`34.87.175.195/32`<br>`34.142.177.122/32`<br>`34.87.39.41/32`<br>`34.143.164.31/32`<br>`34.143.174.79/32` | Partner thêm các IP này vào Whitelist |
    | PARTNER_API_URL | *(Partner cấp)* | |
    | PARTNER_PUBLIC_KEY | *(Partner cấp)* | Gọi API Cake, Partner ký bằng private key, Cake verify |
    | PARTNER_IP_ADDRESS | *(Partner cấp)* | Cake thêm các IP này vào Whitelist |

    ## Error Codes

    ### General
    | Code | Message |
    |------|---------|
    | `1` | Thành công |
    | `900000` | Có lỗi xảy ra, vui lòng thử lại sau |
    | `900001` | Hệ thống đang bảo trì |
    | `900002` | Request is processing |
    | `200000` | Chữ ký không hợp lệ |
    | `200001` | Mã đối tác không hợp lệ |
    | `200003` | Request ID không hợp lệ (NID hoặc Phone không khớp) |
    | `400001` | Không có thông tin khoản vay |
    | `100100` | COB Time - không thể thực hiện giao dịch (23:50–4:00) |
    | `500013` | Trường dữ liệu không hợp lệ |

    ### Onboarding / Pre-check
    | Code | Message |
    |------|---------|
    | `100008` | Hồ sơ không đủ điều kiện |
    | `100009` | Thông tin GTTT đã tồn tại |
    | `100011` | Không đủ tuổi đăng ký |
    | `500010` | Hồ sơ mới bị từ chối gần đây (cần đợi 7 ngày) |
    | `500015` | Đang có khoản vay Active |
    | `500016` | GTTT không còn đủ hiệu lực |
    | `500017` | Chưa thực hiện xác thực NFC |
    | `500020` | Hồ sơ không trùng khớp với Cake |
    | `500024` | Tài khoản nhận giải ngân không hợp lệ |
    | `500029` | Đang mở khoản vay khác chưa hoàn tất |
    | `500030` | Tài khoản đang tạm khóa |
    | `500031` | Tài khoản giải ngân không hợp lệ |

    ### Contract
    | Code | Message |
    |------|---------|
    | `300001` | Hợp đồng hết hạn (quá 7 ngày) |
    | `300003` | OTP bị chặn 15 phút (sau 3 lần gửi) |
    | `300004` | Hợp đồng bị hủy (vượt 6 lần get-OTP) |
    | `300005` | Nhập sai OTP |
    | `300006` | Hồ sơ bị block 15 phút (sai OTP 3 lần liên tiếp) |
    | `300007` | Hợp đồng bị hủy (sai OTP 6 lần) |

    ### Repayment
    | Code | Message |
    |------|---------|
    | `100103` | Số tiền vượt quá dư nợ có thể thanh toán |
    | `400000` | partner_reference_id đã được dùng trước đó |
    | `600000` | Thông tin thanh toán không hợp lệ |

  version: "1.0.0"
  contact:
    name: Cake Digital Bank Support
    url: https://cake.vn

servers:
  - url: https://gw.cake.vn/ext/loan/{group}/{product_id}
    description: Production
    variables:
      group:
        description: "Nhóm API (ví dụ: cashloan, paylater)"
        default: cashloan
      product_id:
        description: Mã sản phẩm được cấu hình
        default: product_id
  - url: https://gw.stage.cakedigibank.tech/ext/loan/{group}/{product_id}
    description: SIT+UAT
    variables:
      group:
        default: cashloan
      product_id:
        default: product_id

# ─────────────────────────────────────────────
# COMMON COMPONENTS
# ─────────────────────────────────────────────
components:
  parameters:
    PartnerHeader:
      name: partner
      in: header
      required: true
      description: CAKE_PARTNER_ID được cấu hình trong môi trường
      schema:
        type: string
        example: CAKE_PARTNER_ID

    SignatureHeader:
      name: signature
      in: header
      required: true
      description: |
        Chữ ký RSA-SHA256 của request body.
        rawBody = body + partner_key → sha256 → RSA sign PKCS1v15 → base64
      schema:
        type: string

    ContentTypeHeader:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        default: application/json; charset=utf-8

  schemas:
    # ── Common Response Wrapper ──
    BaseResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Kết quả xử lý yêu cầu (true/false)
          example: true
        code:
          type: integer
          description: Mã trạng thái hệ thống
          example: 1
        message:
          type: string
          description: Thông báo phản hồi từ hệ thống
          example: Thành công
        response_id:
          type: string
          description: Mã định danh duy nhất của mỗi phản hồi
          example: "849KTQG7SQWLWQW5"
        timestamp:
          type: string
          format: date-time
          description: Thời gian phản hồi (ISO 8601)
          example: "2025-11-03T07:00:00+07:00"

    PartnerCallbackResponse:
      type: object
      required:
        - success
        - code
        - message
      properties:
        success:
          type: boolean
          description: Kết quả xử lý yêu cầu (true/false)
          example: true
        code:
          type: integer
          description: "Mã trạng thái (1 = Thành công; khác 1 = lỗi)"
          example: 1
        message:
          type: string
          description: Thông báo phản hồi
          example: "Thành công"

    # ── Onboarding ──
    DataConfigResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                city:
                  type: array
                  description: Danh sách tỉnh/thành phố
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      dist:
                        type: array
                        description: Danh sách quận/huyện (value=000 nếu mô hình 2 cấp)
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            ward:
                              type: array
                              description: Danh sách phường/xã
                              items:
                                type: object
                gender:
                  type: array
                  description: "List of genders: 1=Male, 2=Female"
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                marital:
                  type: array
                  description: "1=Độc thân, 2=Đã kết hôn, 3=Khác"
                  items:
                    type: object
                occupation:
                  type: array
                  description: "1=Nhân viên văn phòng, 2=Lao động phổ thông, 3=Tự kinh doanh,
                    4=Sinh viên, 5=Không đi làm, 6=Khác"
                  items:
                    type: object
                job_title:
                  type: array
                  description: "1=Công nhân, 2=Nhân viên/Chuyên viên, 3=Quản lý, 4=Tự kinh doanh"
                  items:
                    type: object
                contact_relationship:
                  type: array
                  description: "1=Vợ, 2=Chồng, 3=Cha, 4=Mẹ, 5=Anh/Em trai, 6=Chị/Em gái, 7=Ông,
                    8=Bà, 9=Đồng nghiệp, 10=Bạn bè, 11=Con"
                  items:
                    type: object
                loan_purpose:
                  type: array
                  description: "1=Mua sắm đồ dùng, 2=Chi phí y tế, 3=Du lịch, 6=Tiêu dùng hợp pháp
                    khác, 7=Đóng học phí"
                  items:
                    type: object

    CheckProfileRequest:
      type: object
      required:
        - phone_number
        - partner_reference_id
        - full_name
        - document_id
        - date_of_birth
      properties:
        phone_number:
          type: string
          description: Số điện thoại KH (bắt đầu bằng số 0)
          example: "0xxxxxxxxx"
        partner_reference_id:
          type: string
          description: ID đối tác để định danh request
        full_name:
          type: string
          description: Họ và tên KH (không cần dấu)
          example: "TRAN MINH TIEN"
        document_id:
          type: string
          description: Số GTTT của KH
          example: "xxxxxxxxxxxx"
        date_of_birth:
          type: string
          format: date
          description: Ngày sinh (yyyy-mm-dd)
          example: "1999-12-02"
        metadata:
          type: object
          nullable: true
          description: Dữ liệu bổ sung (nếu có)

    CheckProfileResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                reject_code:
                  type: integer
                  nullable: true
                  description: Mã lý do từ chối hồ sơ
                reject_message:
                  type: string
                  nullable: true
                  description: Thông báo chi tiết tương ứng với reject_code
                challenge_level:
                  type: array
                  description: "Sản phẩm này luôn là [1] (None) — không cần challenge"
                  items:
                    type: integer
                  example: [ 1 ]
                is_exists:
                  type: boolean
                  description: |
                    Hồ sơ KH đã tồn tại tại Cake hay chưa.
                    - `true`: KH đã có hồ sơ → client-update chỉ cần gửi ảnh selfie (face-auth), không cần ảnh CCCD/NFC.
                    - `false`: KH mới → client-update cần gửi đầy đủ ảnh CCCD mặt trước, mặt sau và NFC.
                  example: false

    ClientCreateRequest:
      type: object
      required:
        - phone_number
        - full_name
        - date_of_birth
        - gender
        - document_id
        - doc_issue_date
        - doc_issue_place
        - doc_exp_date
        - marital_id
        - nationality
        - permanent_city_id
        - permanent_dist_id
        - permanent_ward_id
        - permanent_address
        - permanent_city_name
        - permanent_dist_name
        - permanent_ward_name
        - city_id
        - dist_id
        - ward_id
        - city_name
        - dist_name
        - ward_name
        - occupation
        - monthly_income
        - contact_name_1
        - contact_number_1
        - contact_relationship_1
        - contact_name_2
        - contact_number_2
        - contact_relationship_2
        - proposed_amount
        - proposed_term
        - loan_insurance
        - loan_purpose
        - product_code
      properties:
        partner_reference_id:
          type: string
          description: ID đối tác để định danh hồ sơ (tạo mới mỗi request)
        phone_number:
          type: string
          example: "0xxxxxxxxx"
        full_name:
          type: string
          example: "Trần Minh Tiến"
        date_of_birth:
          type: string
          format: date
          example: "1999-12-02"
        gender:
          type: string
          description: "1=Male, 2=Female"
          example: "2"
        email:
          type: string
          format: email
          nullable: true
          example: "abc@gmail.com"
        document_id:
          type: string
          example: "xxxxxxxxxxxx"
        doc_issue_date:
          type: string
          format: date
          description: Ngày cấp GTTT
          example: "2021-11-01"
        doc_issue_place:
          type: string
          description: Nơi cấp GTTT
          example: "Cục CSQLHC về TTXH"
        doc_exp_date:
          type: string
          format: date
          description: Ngày hết hạn GTTT
          example: "2035-05-20"
        marital_id:
          type: string
          description: "1=Độc thân, 2=Đã kết hôn, 3=Khác"
          example: "1"
        nationality:
          type: string
          description: Quốc tịch
          default: "Việt Nam"
        permanent_city_id:
          type: string
          description: ID Tỉnh/Thành phố thường trú
          example: "79"
        permanent_dist_id:
          type: string
          description: ID Quận/Huyện thường trú (0 nếu mô hình 2 cấp)
          example: "0"
        permanent_ward_id:
          type: string
          description: ID Phường/Xã thường trú
          example: "001"
        permanent_address:
          type: string
          description: Số nhà, tên đường thường trú
          example: "54 Chu Văn An"
        permanent_city_name:
          type: string
          example: "Thành phố Hồ Chí Minh"
        permanent_dist_name:
          type: string
          example: "Không"
        permanent_ward_name:
          type: string
          example: "Phường Hải Châu"
        city_id:
          type: string
          description: ID Tỉnh/Thành phố hiện tại
          example: "79"
        dist_id:
          type: string
          example: "0"
        ward_id:
          type: string
          example: "001"
        address:
          type: string
          nullable: true
          description: Số nhà, tên đường hiện tại
          example: "54 Chu Văn An"
        city_name:
          type: string
          example: "Thành phố Hồ Chí Minh"
        dist_name:
          type: string
          example: "Không"
        ward_name:
          type: string
          example: "Phường Hải Châu"
        occupation:
          type: string
          description: "1=Nhân viên VP, 2=Lao động phổ thông, 3=Tự kinh doanh, 4=Sinh
            viên, 5=Không đi làm, 6=Khác"
          example: "1"
        job_title:
          type: string
          nullable: true
          description: Chức vụ (required khi occupation = Nhân viên)
          example: "1"
        company_name:
          type: string
          nullable: true
          example: "Cake"
        monthly_income:
          type: string
          description: Thu nhập tháng (VNĐ)
          example: "5000000"
        contact_name_1:
          type: string
          description: Họ tên người tham chiếu 1 (Người thân)
          example: "Phan Thi A"
        contact_number_1:
          type: string
          description: SĐT tham chiếu 1 (bắt đầu bằng số 0)
          example: "0345678901"
        contact_relationship_1:
          type: string
          description: Mối quan hệ tham chiếu 1 (theo BRD)
          example: "1"
        contact_name_2:
          type: string
          description: Họ tên người tham chiếu 2 (Bạn bè)
          example: "Phạm Thị B"
        contact_number_2:
          type: string
          example: "0345678902"
        contact_relationship_2:
          type: string
          description: Mối quan hệ tham chiếu 2 (theo BRD)
          example: "3"
        proposed_amount:
          type: string
          description: Số tiền đề nghị vay (không bao gồm bảo hiểm, VNĐ)
          example: "3000000"
        proposed_term:
          type: string
          description: Thời gian đề nghị vay (ngày)
          example: "30"
        loan_insurance:
          type: string
          description: Bảo hiểm khoản vay
          enum: [ "True", "False" ]
          example: "True"
        loan_purpose:
          type: string
          description: "1=Mua sắm, 2=Y tế, 3=Du lịch, 6=Tiêu dùng khác, 7=Học phí"
          example: "1"
        product_code:
          type: string
          description: Product code theo BRD
          example: "PTVT_01"
        metadata:
          type: object
          nullable: true
          properties:
            partner_score:
              type: string
              description: Credit score dạng range, lấy chặn dưới
              example: "350-399"
            partner_telco_score:
              type: string
              description: Telco score dạng range, lấy chặn dưới
              example: "350-399"
            partner_fraud_score:
              type: string
              description: Fraud score dạng range, lấy chặn trên
              example: "350-399"
            partner_onboarding_channel:
              type: string
              description: Kênh KH truy cập, truyền mặc định `APP_DEFAULT`
              default: "APP_DEFAULT"
              example: "APP_DEFAULT"
            partner_business_info:
              type: object
              nullable: true
              description: JSON các dữ liệu kinh doanh tùy nền tảng
            partner_device_info:
              type: object
              nullable: true
              description: JSON dữ liệu device của KH

    ClientCreateResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                request_id:
                  type: string
                  description: ID dùng cho các API client-update, loan-register
                  example: "req-abc123"

    ClientUpdateRequest:
      type: object
      required:
        - request_id
        - phone_number
        - document_id
        - selfie_image
        - front_nid_image
        - back_nid_image
      properties:
        request_id:
          type: string
          description: Request ID từ API /client-create
        phone_number:
          type: string
          example: "0xxxxxxxxx"
        document_id:
          type: string
          example: "xxxxxxxxxxxx"
        selfie_image:
          type: string
          format: byte
          description: Ảnh selfie (base64, size ≤ 1MB, ảnh dọc)
        front_nid_image:
          type: string
          format: byte
          description: Ảnh GTTT mặt trước (base64, size ≤ 1MB, ảnh ngang)
        back_nid_image:
          type: string
          format: byte
          description: Ảnh GTTT mặt sau (base64, size ≤ 1MB, ảnh ngang)
        nfc_data:
          type: object
          nullable: true
          description: Thông tin NFC data raw (nếu truyền, tất cả field bên trong đều required)
          required:
            - sod
            - dg1
            - dg2
            - dg13
            - dg14
            - dg15
            - com
          properties:
            sod:
              type: string
              description: NFC sod value
            dg1:
              type: string
              description: NFC data group 1
            dg2:
              type: string
              description: NFC data group 2
            dg13:
              type: string
              description: NFC data group 13
            dg14:
              type: string
              description: NFC data group 14
            dg15:
              type: string
              description: NFC data group 15
            com:
              type: string
              description: NFC com data

    ClientUpdateResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                status:
                  type: string
                  description: Trạng thái hồ sơ eKYC
                  enum:
                    - EKYC_UNKNOWN
                    - EKYC_PENDING
                    - EKYC_REJECT
                    - EKYC_SUCCESS
                  example: EKYC_SUCCESS

    LoanRegisterRequest:
      type: object
      required:
        - request_id
        - phone_number
      properties:
        request_id:
          type: string
          description: Request ID từ API /client-create
        phone_number:
          type: string
          example: "0xxxxxxxxx"

    LoanRegisterResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - LOAN_REVIEWING
                    - LOAN_REJECT
                    - LOAN_CANCEL
                    - LOAN_APPROVE
                  description: |
                    - LOAN_REVIEWING: Đang chờ phê duyệt
                    - LOAN_REJECT: Bị từ chối (đăng ký lại sau 7 ngày)
                    - LOAN_CANCEL: Bị hủy (đăng ký lại ngay)
                    - LOAN_APPROVE: Đã phê duyệt
                loan_code:
                  type: string
                  nullable: true
                  description: Mã khoản vay (null nếu REJECTED)
                  example: "u8123123Sjsdb"

    GetLoanDetailRequest:
      type: object
      required:
        - loan_code
        - phone_number
      properties:
        loan_code:
          type: string
          description: Mã khoản vay từ API /loan-register
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          example: "0xxxxxxxxx"

    GetLoanDetailResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                loan_account_status:
                  type: string
                  enum:
                    - LOAN_UNKNOWN
                    - LOAN_INIT
                    - LOAN_REVIEWING
                    - LOAN_REJECT
                    - LOAN_APPROVE
                    - LOAN_EXPIRED
                    - LOAN_CANCEL
                    - LOAN_SIGNED
                    - LOAN_ACTIVE
                    - LOAN_LOCK
                    - LOAN_LOCKED
                    - LOAN_CLOSE
                  description: Trạng thái tài khoản vay
                contract_id:
                  type: string
                  description: Mã hợp đồng (dùng cho nhắc nợ, đối soát)
                  example: "1234567890"
                loan_alias:
                  type: string
                  description: Mã thanh toán
                  example: "G4JH5R"
                contract_url:
                  type: string
                  description: URL hợp đồng đã ký song phương (hết hạn trong 1h)
                  example: "https://storage.googleapis.com/..."
                full_name:
                  type: string
                  example: "Nguyễn Hoàng Sơn"
                document_id:
                  type: string
                  example: "xxxxxxxxxxxx"
                approved_amount:
                  type: string
                  description: Số tiền được phê duyệt (VNĐ)
                  example: "12000000"
                approved_term:
                  type: string
                  description: Thời hạn vay phê duyệt
                  example: "12"
                loan_insurance:
                  type: string
                  description: "Số tiền bảo hiểm"
                  example: "840000"
                disburse_amount:
                  type: string
                  description: Số tiền đã giải ngân
                  example: "12840000"
                disburse_date:
                  type: string
                  format: date
                  description: Ngày giải ngân (yyyy-mm-dd)
                  example: "2025-06-03"
                interest_rate:
                  type: string
                  description: Lãi suất
                  example: "43"
                principle_balance:
                  type: string
                  description: Dư nợ gốc khả dụng còn lại
                  example: "12640000"
                interest_balance:
                  type: string
                  description: Dư nợ lãi phát sinh
                  example: "197494"
                penalty_principal_balance:
                  type: string
                  description: "Lãi phạt gốc quá hạn"
                  example: "2494265"
                penalty_interest_balance:
                  type: string
                  description: "Lãi phạt lãi quá hạn"
                  example: "0"
                due_date:
                  type: string
                  format: date
                  description: Ngày đến hạn thanh toán gần nhất, đã bao gồm holiday nếu có
                  example: "2025-06-27"
                day_arrears:
                  type: string
                  description: Số ngày quá hạn
                  example: "191"
                total_payment_amount:
                  type: string
                  description: Tổng số tiền KH có thể thanh toán
                  example: "15331759"
                paid_amount:
                  type: string
                  description: "Số tiền KH đã thanh toán"
                  example: "200000"

    # ── Contract ──
    GetEsignRequest:
      type: object
      required:
        - loan_code
        - phone_number
      properties:
        loan_code:
          type: string
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          example: "0xxxxxxxxx"

    GetEsignResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                url:
                  type: string
                  description: URL hợp đồng định dạng HTML (hết hạn trong ngày)
                url_pdf:
                  type: string
                  description: URL hợp đồng định dạng PDF (hết hạn trong ngày)
                expired_time:
                  type: string
                  format: date
                  description: Ngày hợp đồng hết hạn (yyyy-mm-dd)

    ContractCancelRequest:
      type: object
      required:
        - loan_code
        - phone_number
      properties:
        loan_code:
          type: string
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          example: "0xxxxxxxxx"

    GetOtpRequest:
      type: object
      required:
        - loan_code
        - phone_number
      properties:
        loan_code:
          type: string
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          example: "0xxxxxxxxx"

    GetOtpResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                blocked:
                  type: boolean
                  description: OTP đang bị chặn (cần chờ 15 phút)
                contract_is_rejected:
                  type: boolean
                  description: Hợp đồng bị từ chối (cần thực hiện lại quy trình)
                otp_count:
                  type: string
                  description: Đếm số lần gửi OTP
                otp_period:
                  type: integer
                  description: Khoảng thời gian OTP (nếu < 3, phản hồi là 1)

    VerifyEsignRequest:
      type: object
      required:
        - loan_code
        - phone_number
        - otp
      properties:
        loan_code:
          type: string
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          example: "0xxxxxxxxx"
        otp:
          type: string
          description: OTP khách hàng đã nhập

    VerifyEsignResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                is_correct_otp:
                  type: string
                  description: true nếu xác minh OTP thành công
                verify_count:
                  type: string
                  description: Số lần gọi API verify-esign

    DisburseUpdateRequest:
      type: object
      required:
        - loan_code
        - phone_number
        - partner_disburse_status
      properties:
        loan_code:
          type: string
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          example: "0xxxxxxxxx"
        partner_disburse_status:
          type: integer
          description: "Trạng thái giải ngân: 1=Thành công, 2=Thất bại"
          enum: [ 1, 2 ]
          example: 1

    # ── Repayment ──
    RepaymentRequestBody:
      type: object
      required:
        - loan_code
        - phone_number
        - partner_reference_id
        - payment_amount
      properties:
        loan_code:
          type: string
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          example: "0xxxxxxxxx"
        partner_reference_id:
          type: string
          description: ID tạo mới mỗi request (idempotency key)
        payment_amount:
          type: integer
          description: Số tiền thanh toán (VNĐ)
          example: 5000000

    RepaymentVanResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                order_id:
                  type: string
                  description: Mã tham chiếu giao dịch do Cake tạo ra
                qr_code:
                  type: string
                  description: Chuỗi QR code để thanh toán
                expired_time:
                  type: string
                  format: date-time
                  description: Thời gian hết hạn yêu cầu thanh toán
                bank_name:
                  type: string
                  description: Tên ngân hàng thụ hưởng
                bank_account_number:
                  type: string
                  description: Số tài khoản thụ hưởng
                bank_account_name:
                  type: string
                  description: Tên tài khoản thụ hưởng
                payment_description:
                  type: string
                  description: Thông tin mô tả khi thanh toán

    RepaymentStatusRequest:
      type: object
      required:
        - loan_code
        - phone_number
        - order_id
      properties:
        loan_code:
          type: string
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          example: "0xxxxxxxxx"
        order_id:
          type: string
          description: order_id từ API /repayment-van

    RepaymentStatusResponse:
      allOf:
        - $ref: "#/components/schemas/BaseResponse"
        - type: object
          properties:
            data:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - INIT
                    - IN_PROCESS
                    - HOLD
                    - SUCCESS
                    - FAILED
                  description: |
                    - INIT: Chưa nhận tiền từ KH
                    - IN_PROCESS: Đã nhận tiền, đang gạch nợ
                    - HOLD: Nhận tiền nhưng lỗi gạch nợ, cần đối soát thủ công
                    - SUCCESS: Đã gạch nợ thành công
                    - FAILED: Chuyển khoản thất bại hoặc giao dịch hết hạn

    # ── Partner-side callback schemas ──
    PartnerUpdateStatusRequest:
      type: object
      required:
        - request_id
        - loan_code
        - phone_number
        - status
      properties:
        request_id:
          type: string
          description: ID được sinh ra mỗi request
        partner_reference_id:
          type: string
          nullable: true
          description: ID đối tác truyền ở API /client-create
        loan_code:
          type: string
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          example: "0xxxxxxxxx"
        status:
          type: string
          enum:
            - EKYC_REJECT
            - EKYC_SUCCESS
            - LOAN_APPROVE
            - LOAN_REJECT
            - LOAN_CANCEL
            - LOAN_EXPIRED
            - LOAN_SIGNED
            - LOAN_ACTIVE
            - LOAN_CLOSE
          description: Trạng thái hồ sơ khoản vay Cake

    PartnerDisburseRequest:
      type: object
      required:
        - request_id
        - partner_reference_id
        - loan_code
        - phone_number
        - approved_amount
        - disburse_amount
        - partner_disburse_status
      properties:
        request_id:
          type: string
          description: request_id được sinh ra ở API client-create
          example: "req-abc123"
        partner_reference_id:
          type: string
          description: partner_reference_id của đối tác truyền ở API client-create
          example: "bf133c7c-8e10-45a2-b9d2-4d04a352917a"
        loan_code:
          type: string
          description: Mã khoản vay, chỉ truyền từ khi loan approve
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: SĐT của KH (định dạng bắt đầu bằng số 0)
          example: "034xxxxx00"
        approved_amount:
          type: string
          description: Số tiền được phê duyệt
          example: "12000000"
        loan_insurance:
          type: string
          description: Số tiền bảo hiểm khoản vay
          example: "840000"
        disburse_amount:
          type: string
          description: Số tiền giải ngân có bảo hiểm
          example: "12840000"
        partner_disburse_status:
          type: string
          description: |
            SUCCESS: CAKE thực hiện giải ngân
            FAILURE: CAKE thực hiện hủy khoản vay do giải ngân thất bại đầu đối tác
          enum:
            - SUCCESS
            - FAILURE
          example: "SUCCESS"

    PartnerDisburseStatusRequest:
      type: object
      required:
        - request_id
        - partner_reference_id
        - loan_code
        - phone_number
      properties:
        request_id:
          type: string
          description: request_id được sinh ra ở API client-create
          example: "req-abc123"
        partner_reference_id:
          type: string
          description: partner_reference_id của đối tác truyền ở API client-create
          example: "bf133c7c-8e10-45a2-b9d2-4d04a352917a"
        loan_code:
          type: string
          description: Mã khoản vay, chỉ truyền từ khi loan approve
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          description: SĐT của KH (định dạng bắt đầu bằng số 0)
          example: "034xxxxx00"

    PartnerDisburseStatusResponse:
      type: object
      required:
        - success
        - code
        - message
      properties:
        success:
          type: boolean
          description: Kết quả xử lý yêu cầu (true/false)
          example: true
        code:
          type: integer
          description: "Mã trạng thái, tuân theo định nghĩa của hệ thống (1 = Thành công)"
          example: 1
        message:
          type: string
          description: Thông báo phản hồi từ hệ thống
          example: "Thành công"
        data:
          type: object
          properties:
            partner_disburse_status:
              type: string
              description: |
                SUCCESS: CAKE thực hiện giải ngân
                FAILURE: CAKE thực hiện hủy khoản vay do giải ngân thất bại đầu đối tác
              enum:
                - SUCCESS
                - FAILURE
              example: "SUCCESS"

    PartnerRepaymentStatusRequest:
      type: object
      required:
        - request_id
        - loan_code
        - phone_number
        - order_id
        - status
      properties:
        request_id:
          type: string
        loan_code:
          type: string
          example: "u8123123Sjsdb"
        phone_number:
          type: string
          example: "0xxxxxxxxx"
        order_id:
          type: string
          description: OrderId từ api repayment-van
        status:
          type: string
          enum: [ SUCCESS, FAILED ]

  # ── Reusable request headers ──
  requestBodies:
    CommonHeaders:
      description: Headers bắt buộc cho mọi request
      content:
        application/json:
          schema:
            type: object

# ─────────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────────
paths:
  # ════════════════════
  # ONBOARDING
  # ════════════════════
  /data-config:
    post:
      tags: [ Onboarding ]
      summary: Lấy danh sách cấu hình cho form onboarding
      description: |
        Cung cấp value list cho form onboarding: tỉnh/thành, quận/huyện, phường/xã,
        giới tính, hôn nhân, nghề nghiệp, chức vụ, mối quan hệ, mục đích vay.
        Không cần request body.
      operationId: dataConfig
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              description: Không cần body
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataConfigResponse"

  /check-profile:
    post:
      tags: [ Onboarding ]
      summary: Pre-check điều kiện trước khi mở khoản vay
      description: |
        Kiểm tra điều kiện hợp lệ trước khi KH đăng ký khoản vay.
        **Điều kiện tiếp tục:** response code = 1 AND reject_code = null → gọi client-create.
      operationId: checkProfile
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckProfileRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckProfileResponse"

  /client-create:
    post:
      tags: [ Onboarding ]
      summary: Tạo hồ sơ KH sau khi precheck thành công
      description: |
        Tạo hồ sơ KH mới.
        **Điều kiện tiếp tục:** response request_id != null → gọi client-update.
      operationId: clientCreate
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClientCreateRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientCreateResponse"

  /client-update:
    post:
      tags: [ Onboarding ]
      summary: Cập nhật hồ sơ KH và upload ảnh eKYC
      description: |
        Upload ảnh selfie, mặt trước/sau GTTT và dữ liệu NFC (nếu có).
        **Điều kiện tiếp tục:** response status = EKYC_SUCCESS → gọi loan-register.
      operationId: clientUpdate
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClientUpdateRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientUpdateResponse"

  /loan-register:
    post:
      tags: [ Onboarding ]
      summary: Đăng ký khoản vay
      description: |
        Đăng ký khoản vay mới dựa trên thông tin KH đã có.
        **Điều kiện tiếp tục:** response status = LOAN_APPROVE → gọi get-esign.
      operationId: loanRegister
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoanRegisterRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoanRegisterResponse"

  /get-loan-detail:
    post:
      tags: [ Onboarding ]
      summary: Truy vấn thông tin chi tiết khoản vay
      operationId: getLoanDetail
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetLoanDetailRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLoanDetailResponse"

  # ════════════════════
  # CONTRACT
  # ════════════════════
  /get-esign:
    post:
      tags: [ Contract ]
      summary: Lấy URL ký hợp đồng điện tử
      description: |
        Lấy URL hợp đồng điện tử (HTML và PDF). Link hết hạn trong ngày.
        **Lưu ý:** Phải gọi API này ít nhất một lần mỗi ngày để tạo hợp đồng mới,
        và phải gọi trước khi gọi API /get-otp.
      operationId: getEsign
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetEsignRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetEsignResponse"

  /contract-cancel:
    post:
      tags: [ Contract ]
      summary: Hủy hợp đồng điện tử
      operationId: contractCancel
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContractCancelRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseResponse"

  /get-otp:
    post:
      tags: [ Contract ]
      summary: Gửi OTP xác thực ký hợp đồng
      description: |
        Gửi mã OTP để KH xác thực ký hợp đồng.

        **Quy tắc OTP:**
        - Mỗi OTP hiệu lực 2 phút; gọi lại trong 2 phút không tạo OTP mới
        - Tối đa 6 lần get-OTP/hợp đồng → Sau lần 6 hệ thống hủy hợp đồng
        - 3 lần liên tiếp (chưa verify) → Block 15 phút
      operationId: getOtp
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetOtpRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOtpResponse"

  /verify-esign:
    post:
      tags: [ Contract ]
      summary: Xác nhận ký hợp đồng điện tử bằng OTP
      description: |
        Xác nhận ký hợp đồng điện tử bằng mã OTP.

        **Quy tắc verify:**
        - Tối đa 6 lần sai/hợp đồng → Hủy hợp đồng
        - 3 lần sai liên tiếp → Block 15 phút
        - 3 lần sai với cùng 1 OTP → Phải lấy OTP mới
      operationId: verifyEsign
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyEsignRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyEsignResponse"

  /disburse-update:
    post:
      tags: [ Contract ]
      summary: Đối tác cập nhật trạng thái giải ngân
      description: |
        Đối tác gọi API này để cập nhật kết quả giải ngân (thành công/thất bại).

        **Lưu ý:** Nếu Cake đã gửi partner-disburse-request và đối tác đã giải ngân
        nhưng gọi disburse-update thất bại, Cake sẽ gọi lại partner-disburse-request.
        Khi đó đối tác **KHÔNG giải ngân lại** mà chỉ gọi lại disburse-update.
      operationId: disburseUpdate
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DisburseUpdateRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseResponse"

  # ════════════════════
  # REPAYMENT
  # ════════════════════
  /repayment-van:
    post:
      tags: [ Repayment ]
      summary: Tạo QR code thanh toán khoản vay (VAN)
      operationId: repaymentVan
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RepaymentRequestBody"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RepaymentVanResponse"

  /repayment-status:
    post:
      tags: [ Repayment ]
      summary: Truy vấn trạng thái thanh toán
      operationId: repaymentStatus
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/PartnerHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RepaymentStatusRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RepaymentStatusResponse"

  # ════════════════════
  # PARTNER CALLBACKS (Cake gọi Partner)
  # ════════════════════
  /partner-update-status:
    post:
      tags: [ Partner Callbacks ]
      summary: Cake cập nhật trạng thái hồ sơ sang đối tác
      description: |
        **Chiều: Cake → Partner**
        Cake chủ động gọi API này trên hệ thống của đối tác để thông báo thay đổi trạng thái hồ sơ.
        Partner cần expose endpoint này và trả về response chuẩn.
      operationId: partnerUpdateStatus
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartnerUpdateStatusRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartnerCallbackResponse"

  /partner-disburse-request:
    post:
      tags: [ Partner Callbacks ]
      summary: Cake gửi yêu cầu giải ngân sang đối tác
      description: |
        **Chiều: Cake → Partner**
        Cake gửi yêu cầu giải ngân khoản vay tới đối tác.
        Partner thực hiện giải ngân và gọi lại API /disburse-update để xác nhận kết quả.

        **Response:** `success`, `code`, `message`. `code` = `1` là thành công.
      operationId: partnerDisburseRequest
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartnerDisburseRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartnerCallbackResponse"

  /partner-disburse-status:
    post:
      tags: [ Partner Callbacks ]
      summary: Cake truy vấn trạng thái giải ngân từ đối tác
      description: |
        **Chiều: Cake → Partner**
        Cake gọi API này (do đối tác expose) trong luồng giải ngân để lấy trạng thái giải ngân hiện tại từ phía đối tác.

        **Response:** `success`, `code`, `message`. `code` = `1` là thành công.
      operationId: partnerDisburseStatus
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartnerDisburseStatusRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartnerDisburseStatusResponse"

  /partner-repayment-status:
    post:
      tags: [ Partner Callbacks ]
      summary: Cake cập nhật trạng thái thanh toán sang đối tác
      description: |
        **Chiều: Cake → Partner**
        Cake thông báo kết quả giao dịch thanh toán khoản vay cho đối tác.
      operationId: partnerRepaymentStatus
      parameters:
        - $ref: "#/components/parameters/ContentTypeHeader"
        - $ref: "#/components/parameters/SignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PartnerRepaymentStatusRequest"
      responses:
        "200":
          description: Thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartnerCallbackResponse"

# ─────────────────────────────────────────────
# TAGS
# ─────────────────────────────────────────────
tags:
  - name: Onboarding
    description: |
      Luồng đăng ký khoản vay:
      check-profile → client-create → client-update → loan-register → (get-esign)
  - name: Contract
    description: |
      Luồng ký hợp đồng:
      get-esign → get-otp → verify-esign
      Hoặc: contract-cancel, disburse-update
  - name: Repayment
    description: Thanh toán kỳ hạn khoản vay (VAN QR, status)
  - name: Partner Callbacks
    description: |
      API Cake gọi sang Partner (webhook/callback).
      Partner phải expose các endpoint này trên hệ thống của mình.
      Xác thực ngược chiều (Cake ký, Partner verify).

# ─────────────────────────────────────────────
# SEQUENCE DIAGRAMS - API FLOWS (x-extension)
# ─────────────────────────────────────────────
x-mermaid-flows:

  onboarding: |
    sequenceDiagram
      autonumber
      participant P as Partner
      participant C as Cake

      Note over P,C: BƯỚC 1 - PRE-CHECK
      P->>C: check-profile(phone, full_name, document_id, dob)
      alt reject_code != null
        C-->>P: REJECT - hiển thị thông báo từ chối
      else reject_code = null AND code = 1
        C-->>P: challenge_level=[1] None
        Note over P,C: BƯỚC 2 - TẠO HỒ SƠ KH
        P->>C: client-create(thông tin KH đầy đủ, metadata)
        C-->>P: request_id
        Note over P,C: BƯỚC 3 - eKYC UPLOAD ẢNH
        P->>C: client-update(request_id, selfie, front_nid, back_nid)
        C-->>P: status
        alt status = EKYC_PENDING
          Note over P: Đợi callback partner-update-status: EKYC_SUCCESS
        end
        Note over P,C: BƯỚC 4 - ĐĂNG KÝ KHOẢN VAY
        P->>C: loan-register(request_id, phone)
        C-->>P: status, loan_code
        alt status = LOAN_REVIEWING
          Note over P: Poll get-loan-detail cho đến LOAN_APPROVE
          P->>C: get-loan-detail(loan_code, phone)
          C-->>P: loan_account_status=LOAN_APPROVE
        end
        Note over P: Chuyển sang luồng Contract để ký hợp đồng
      end

  contract_signing: |
    sequenceDiagram
      autonumber
      participant P as Partner
      participant C as Cake

      Note over P,C: Điều kiện vào: loan_code có status=LOAN_APPROVE
      Note over P,C: BƯỚC 1 - LẤY URL HỢP ĐỒNG (gọi mỗi ngày 1 lần)
      P->>C: get-esign(loan_code, phone)
      C-->>P: url(HTML), url_pdf, expired_time
      Note over P: Hiển thị hợp đồng cho KH xem và ký

      Note over P,C: BƯỚC 2 - GỬI OTP KÝ HỢP ĐỒNG
      P->>C: get-otp(loan_code, phone)
      C-->>P: otp_count, blocked, otp_period

      Note over P,C: BƯỚC 3 - KH NHẬP OTP XÁC NHẬN KÝ
      P->>C: verify-esign(loan_code, phone, otp)
      alt is_correct_otp = true
        C-->>P: hợp đồng được ký thành công
        Note over C: Cake gửi partner-disburse-request sang Partner
      else OTP sai
        C-->>P: lỗi - còn remaining_attempts lần thử lại
      end

      Note over P,C: KH có thể hủy hợp đồng trước khi ký
      P->>C: contract-cancel(loan_code, phone)
      C-->>P: success

  disburse: |
    sequenceDiagram
      autonumber
      participant P as Partner
      participant C as Cake

      Note over P,C: Điều kiện vào: KH đã ký hợp đồng thành công
      C->>P: partner-disburse-request(loan_code, phone, approved_amount)
      Note over P: Partner thực hiện giải ngân cho KH
      alt Giải ngân thành công
        P->>C: disburse-update(loan_code, partner_disburse_status=1)
        C-->>P: success - loan chuyển sang LOAN_ACTIVE
      else Giải ngân thất bại
        P->>C: disburse-update(loan_code, partner_disburse_status=2)
        C-->>P: success - loan chuyển sang trạng thái lỗi
      end

      Note over P,C: Trường hợp disburse-update thất bại
      C->>P: partner-disburse-request(retry)
      Note over P: KHÔNG giải ngân lại - chỉ gọi lại disburse-update
      P->>C: disburse-update(loan_code, partner_disburse_status=1)

  repayment: |
    sequenceDiagram
      autonumber
      participant P as Partner
      participant C as Cake

      Note over P,C: Điều kiện vào: loan_code có status=LOAN_ACTIVE

      Note over P,C: BƯỚC 1 - TẠO QR THANH TOÁN
      P->>C: repayment-van(loan_code, phone, partner_reference_id, payment_amount)
      C-->>P: order_id, qr_code, expired_time, bank_account_number
      Note over P: Hiển thị QR cho KH quét
      Note over P,C: BƯỚC 2 - POLL TRẠNG THÁI
      P->>C: repayment-status(loan_code, order_id)
      C-->>P: status(INIT/IN_PROCESS/SUCCESS/FAILED/HOLD)

      Note over C: Cake callback sang Partner
      C->>P: partner-repayment-status(loan_code, order_id, status)

